[2015-03-18 13:52] diplojocus opened #1 "Optimise [pow~] performance"

[2015-03-18 13:53] diplojocus opened #2 "Optimise [cos~] performance"

[2015-03-18 13:53] diplojocus opened #3 "Optimise [sqrt~] performance"

[2015-03-18 13:54] diplojocus opened #4 "Support [vline~]"

[2015-03-18 13:55] diplojocus opened #5 "Show all unsupported Pd objects when compiling"
Instead of exiting on the first one it gets to.

[2015-03-18 13:55] diplojocus opened #6 "Support [samphold~]"

[2015-03-18 13:56] diplojocus opened #7 "Support [vcf~]"

[2015-03-18 13:56] diplojocus opened #8 "Support [tabread]"

[2015-03-18 13:57] diplojocus opened #9 "Support [throw~], [catch~], [send~] and [receive~]"

[2015-03-18 13:57] joewhite4 opened #10 "Support [expr] and [expr~]"

[2015-03-18 13:58] diplojocus opened #11 "Support [pack] and [unpack]"

[2015-03-18 13:59] joewhite4 opened #12 "Support [fft~], [ifft~], [rfft~] and [fifft~]"

[2015-03-18 14:03] diplojocus opened #13 "Wwise plugin target"
* This will contain a visual studio project with the necessary source files to compile an audio generator plugin for Audiokinetic's Wwise platform.

* [receive] can be mapped to RTPC values from the plugin

* [send] can be used to pipe messages out of the plugin to the rest of the system

* [adc~] and [dac~] would determine the plugin channel configuration

* Additional tools might include a build

[2015-03-18 14:04] diplojocus opened #14 "Consider using only up to SSE3 for HV_SIMD_SSE"
Only 75% of CPUs support > SSE3 according to http://store.steampowered.com/hwsurvey, but > 99% support up to SSE3.

[2015-03-18 14:05] diplojocus opened #15 "[line] doesn't update correctly if input message is queued before first process loop"
In javascript this patch should begin interpolating from 0 through to 0.5, but instead it outputs all 0's until the end of the ramp period where it then outputs 0.5

#N canvas 405 102 409 431 10;
#X obj 120 210 line;
#X msg 120 188 \$1 1000;
#X obj 149 124 t a a;
#X obj 210 220 print A;
#X obj 106 288 print B;
#X obj 149 70 r input;
#X connect 0 0 4 0;
#X connect 1 0 0 0;
#X connect 2 0 1 0;
#X co

[2015-03-18 14:13] joewhite4 opened #16 "How to handle [adc~] in javascript target"
Currently in the javascript target the process method is fed null buffers for the input channels, regardless of the patch contents, i.e. if it should accept input audio

One solution was to open up the microphone input via the web audio api and pipe that in. However I feel this shouldn't be automatically generated by the compiler and that it is down to the user to decide what to feed into the patc

[2015-03-18 14:14] joewhite4 opened #17 "C++ wrapper target"
Create a C++ class wrapper for handling namespacing and memory management in an easier way for C++ projects.

[2015-03-18 14:19] diplojocus opened #18 "Context(_c) macro is too generic"
The C source code makes us of preprocessor macros, there are some in the generated code that are a bit too generic and could conflict with projects that it's integrated into.

[2015-03-18 14:22] diplojocus opened #19 "Support signal input to control frequency in [phasor~]"
This is needed for simple synthesis techniques such as FM.

Also affects [osc~] and other abstractions that use [phasor~] internally.

[2015-03-18 14:24] diplojocus opened #20 "Prune connections and remove unnecessary objects in Pd graph"

[2015-03-18 15:29] diplojocus opened #21 "Enable SIMD optimisations in Javascript target"
https://hacks.mozilla.org/2014/10/introducing-simd-js/

Our code already has many SIMD optimisations, will need to figure how to make use of them when compiling javascript code using emscripten. This will have drastic improvement on the performance when running in the browser.

[2015-03-18 15:30] diplojocus opened #22 "Dollar arguments not working correctly in [route]"

[2015-03-18 16:55] mhroth opened #23 "Support abstraction upload"

[2015-03-18 16:57] woldhek commented on #23
haha i was about to write an email regarding this :) Would be great if you could upload a library of sorts that is referenced as if it was set the same in pd

[2015-03-18 16:58] woldhek opened #24 "special version of puredata with only the supported objects"
it might be interseting to take a generic version of puredata vanilla and removing all the objects that are not supported by heavy. then it is clear what will not work before you compile

[2015-03-18 17:02] woldhek opened #25 "automatically compile from a cloudsynced drive"
heavy could have an open watch folder in google drive/dropbox etc and then when a file gets changed automatically start to recompile, removing the upload step and click compile step from the process.

[2015-03-18 17:09] diplojocus commented on #23
We're looking at having the ability to upload a zipped archive (instead of a single file). Inside the archive Heavy would look for a patch named `_main.pd`. Having sub-directories for libraries within the archive would be possible but the referencing would be handled by the user.

This would mean using [declare --path ./path/to/lib] within the _main patch.

[2015-03-18 17:22] diplojocus opened #26 "Support [biquad~]"

[2015-03-18 17:23] diplojocus commented on #25
Yes this is a great idea!

[2015-03-18 17:24] joewhite4 opened #27 "How should we support [block~] ?"

[2015-03-18 17:58] diplojocus opened #28 "Generate the Heavy Javascript wrapper code as a separate file"
Currently this is compiled into the main javascript `*Lib.min.js` file. However it's useful to see this when trying to understand how the js interface works.

[2015-03-19 11:24] mhroth commented on #27
I have successfully avoided this issue since September 2009. But that time may be drawing to a close. Basically it's a PITA to support and it's not all that efficient due to the need for moving lots of memory around and managing the interface between different block sizes. It will need to be done for supporting the `fft~` series of objects, and potentially operations on tables, but until then it w

[2015-03-23 07:11] GuillaumeLeNost commented on #26
+1

[2015-03-27 18:13] mhroth opened #29 "Support implicit sends in message box"

[2015-03-29 15:19] diplojocus opened #30 "Use Heavy Markup in PureData to export specific receivers"
When generating parameters from [receive] objects we should only create code from user specified instances. [receive]/[send] objects are commonly used within a patch architecture and having a global scope for these in the integration interface would be too verbose and potentially confusing.

Proposal for a Heavy mark-up specification to tag certain [receiver] objects for automatic code generation

[2015-04-10 14:12] mhroth opened #31 "Heavy does not concatinate inputs in message boxes"
[code]

[2015-04-13 12:59] ylevtov commented on #31
Even the following patch (or any larger patch containing any message box with $1-string) causes a fatal error for the compiler...

[code]

[2015-04-13 15:45] ylevtov opened #32 "[div] does not seem to be supported, contrary to the supported objects list..."
Even a patch with just a [div] object throws a fatal error for the compiler.

[2015-04-15 14:32] mhroth commented on #32
`div` support has been removed from the supported list.

[2015-04-15 14:32] #32 closed

[2015-04-16 16:47] ylevtov opened #33 "Consider a different system for auto-generation of GUI sliders for patch preview"
It's a really great feature, but...
some patches e.g. reverbs, have many [receives], only a few of which are actually useful to visualise.

Could there perhaps be a special string that must be present in the [receive] name in order for Heavy to auto-generate a GUI slider for it?

e.g.
[r myParameter] would NOT auto-generate a slider whereas
[r myParameter-GUI] would auto-generate a slider

[2015-04-16 16:49] ylevtov opened #34 "Don't initialize GUI sliders from patch preview"
Currently they initialise with a value of 0.5 for patch preview, which can override some essential initialisation in the patch itself...

[2015-04-16 16:58] mhroth commented on #33
@diplojocus has been talking about this for a while. See https://github.com/enzienaudio/heavy/issues/30. What about something with annotations, like `[r myParameter @hv_gui]`?

[2015-04-16 16:59] ylevtov commented on #33
Duplicate issue - continuing discussion original - #30.

[2015-04-16 16:59] #33 closed

[2015-04-16 17:00] mhroth commented on #33
Or maybe `[r myParameter @hv_gui 0 1]` to specify maximum and minimum range.

[2015-04-16 17:04] ylevtov commented on #30
As this is mainly a debugging feature for the patch preview, it would be nice to not disrupt the usual Pd patching conventions too much.

How about something like
`[r freq @hv_param 0 1 0.5]`

Name is implied from the first argument of the [receive]. And could the defaultValue be optional? It's better to keep the initialisation in the patch, I feel...

[2015-04-16 17:06] mhroth commented on #30
Yeah, I'm liking this. @diplojocus?

[2015-04-16 18:14] diplojocus commented on #30
Yeah good idea @ylevtov

Although I don't just see it as a debugging feature, as when it comes to more complicated integration projects it'll be handy to choose which parameters get auto-generated and their respective values/settings

[2015-04-16 18:18] diplojocus commented on #30
The default value is mainly to set the UI slider values, plus for example in the Wwise integration there needs to be something to initialise to.

If you use the output in your own code then the default value isn't an issue as it's only relevant to the preview. I don't mind it being optional but it does need a value assigned, potentially the minimum part of the range?

[2015-04-17 10:01] ylevtov commented on #30
Yeah sounds good. So the default value is the minimum, unless otherwise specified.

Does that mean that it will send the default value through to Pd when the preview sliders are initialising? Or is the initialisation purely for the benefit of the GUI?

On 16 Apr 2015, at 19:18, Joe White notifications@github.com wrote:

[2015-04-17 14:54] ylevtov opened #35 "Command line util for speedier patch upload workflow"

[2015-04-17 17:50] pingdynasty commented on #7
thx!
I'm having another problem: `Unknown Pd object 'r~'`
I tried changing it to `receive~` but get the same error. Am I missing something?

[2015-04-19 12:59] diplojocus commented on #7
It's on the TODO list https://github.com/enzienaudio/heavy/issues/9

[2015-04-19 15:54] ghost commented on #9
send and receive are listed on Supported Objects page

[2015-04-19 15:55] ghost commented on #9
oh I see, send~ and receive~ are different!

[2015-04-19 16:01] diplojocus commented on #9
Yep, you have control rate and signal rate versions.

Control rate: [s], [send], [r], [receive] - Supported
Signal rate: [s~], [send~], [r~], [receive~] - Not supported

[2015-04-20 07:38] #22 closed

[2015-04-20 17:49] ylevtov opened #36 "Include patch preview on individual version pages as well as project page"

[2015-04-28 15:17] diplojocus commented on #34
This would be solved with #30

[2015-04-28 15:17] #34 closed

[2015-04-28 15:18] diplojocus commented on #8
Implemented

[2015-04-28 15:18] #8 closed

[2015-04-28 15:18] diplojocus commented on #13
Implemented

[2015-04-28 15:18] #13 closed

[2015-04-28 15:21] diplojocus commented on #21
SIMDjs is still early tech and will probably be a while till we can take full advantage of this across all browsers

[2015-04-29 16:17] diplojocus commented on #11
Implemented

[2015-04-29 16:17] #11 closed

[2015-04-29 20:31] ntkeep opened #37 "osc~ playing at the wrong pitch"
Windows 8.1.
Chrome  42.0.2311.90
Pd 0.46.5

[osc~ 440] in the patch is playing at 478.9Hz in the browser. Possibly a sample rate issue? The ratio is the same as 48000/44100. Windows runs at 48KHz by default.

[2015-05-06 11:22] ylevtov opened #38 "Compiler crashes if there are inlets/outlets where there is no parent patch"
Understandable that this would cause an error, but would be nice if there was some reporting of why the error has occurred to the user.

[2015-05-06 14:06] ylevtov opened #39 "[table] doesn't seem to be correctly supported"
``` "exception": "('No corresponding table with name \"major\" found for object __tabread {table:major}.', None)" ```

But arrays work correctly...

[2015-06-05 12:21] ylevtov opened #40 "tabread4~ requires initialisation argument"
tabread4~ should be able to instantiate without needing a creation argument of a table name, but currently this produces this error:
ERROR: {
  "exception": "('No corresponding table with name \"None\" found for object __tabread~if {table:None}.', None)",
  "has_error": true
}

[2015-06-05 12:22] ylevtov commented on #40
[code]

[2015-06-05 12:26] ylevtov commented on #31
_Bump_

(I thought this one had been fixed?)

[2015-06-05 13:20] ylevtov opened #41 "Subpatches do not take on parent patch's creation arguments"
```[f $1]``` inside an abstraction with a creation argument works fine, but ```[f $1]``` inside a sub-patch inside the abstraction throws an error:
```ERROR: dictionary update sequence element #0 has length 4; 2 is required```

Sub-patches cannot have creation arguments of their own, and should implicitly take the creation arguments of their parent patch.

[2015-06-05 13:34] ylevtov opened #42 "Is [tabwrite~] supported?"
Getting this error with a patch consisting of just a ```[tabwrite~]``` object
[code]

[2015-06-05 14:10] ylevtov opened #43 "[tabwrite], [tabread] etc. cannot find named [table] objects, but can find named arrays"

[2015-06-05 14:36] ylevtov opened #44 "tabread~ Expecting , delimiter error"
[code]
Caused by this:
[code]

[2015-06-07 21:33] mhroth commented on #40
Out of curiosity, why would you ever _not_ initialise a `tabread4~` with a table name?

[2015-06-07 21:36] #35 closed

[2015-06-07 21:37] #23 closed

[2015-06-07 21:42] ylevtov commented on #40
Good question. In my uses, I've never needed to leave it unitialised, but somehow during testing patches with Heavy I came across this problem. 

That said, I suppose I consider it a bug because Pd can support it but Heavy cannot.

On Sun, Jun 7, 2015 at 10:33 PM, Martin Roth notifications@github.com
wrote:

[2015-06-09 10:17] mhroth commented on #44
Good catch @ylevtov ! This bug would have prevented any patch using `tabread~` from properly compiling, as was due to a (strangely) corrupted object definition file. Thank you!!

[2015-06-09 10:17] #44 closed

[2015-06-09 10:28] mhroth commented on #42
[code]

[2015-06-09 11:17] mhroth commented on #42
Again, an error in our object description file. Fixed, thank you!

[2015-06-09 11:17] #42 closed

[2015-06-09 11:32] mhroth commented on #41
#### `patch.pd`

[code]

#### `subpatch.pd`

[code]

[2015-06-09 13:17] mhroth commented on #41
Thanks Yuli for correctly identifying the underlying issue. Fixed.

[2015-06-10 13:56] ylevtov commented on #41
Subpatches do seem to take the parent patch's arguments now, however, if you're casting the argument to a float, subpatches cannot do this if it has not already been done elsewhere in the patch.

The subpatch.pd in the above comment works fine because it has an `[f $1]` object casting $1 to a float before the subpatch does so, however if you remove the `[f $1]` from the abstraction, the compiler r

[2015-06-10 23:00] #43 closed

[2015-06-10 23:01] mhroth commented on #39
This seems to be duplication of https://github.com/enzienaudio/heavy/issues/43. Fixed.

[2015-06-10 23:01] #39 closed

[2015-06-12 11:56] mhroth commented on #40
You raise a good point. It's an open issue that Heavy does not always do what Pd does. We're generally working on clearing up these issues and clarifying when they diverge. In general however, Heavy likes it when you explicitly initialise and define as much as possible.

[2015-06-12 11:58] ylevtov commented on #40
Indeed.

I think that, in this instance, it would be perfectly reasonable to keep Heavy functioning the way that it does, but to provide a specific error message to the user saying something very clear about the fact that [tabwrite~]/[tabread~] objects need initialisation...

[2015-06-12 13:24] mhroth opened #45 "metro does not respond to right inlet"
[code]

[2015-06-12 13:25] mhroth commented on #45
I cannot replicate this bug using the submitted patch.

[2015-06-12 16:31] mhroth commented on #40
Agreed. Clearer error reporting is desperately needed.

[2015-06-12 17:35] mhroth commented on #41
I can confirm that is a problem. Looking into it.

[2015-06-12 18:30] mhroth commented on #41
I'm assigning this bug to @diplojocus as it occurs in `pd2hv`. The issue is that `subpatch.pd` does not resolve any arguments because no `$` arguments exist in the top level of `subpatch`. This is a `PdObject.validate()` issue.

[2015-06-18 09:54] ylevtov opened #46 "[declare] causing crash"
A single [declare] object is causing this error:
[code]
Understandably we don't really need the [declare] object as the abstraction implementation assumes all patches are in the same directory (right?), but some better error handling to inform people that this is the case would be nice.

[code]

[2015-06-18 11:10] ylevtov opened #47 "[swap] throws error if not initialised"
[code]

[code]

Just needs better error reporting.

[2015-06-18 15:45] diplojocus commented on #47
This is fixed and will be pushed to the server soon

[2015-06-18 15:45] #47 closed

[2015-06-18 15:46] diplojocus commented on #41
Should be fixed and available in the next server update

[2015-06-18 15:46] #41 closed

[2015-06-18 15:52] diplojocus commented on #46
I get the expected warning:
`Declared path (/tmp/royal-9RtUwA/pd/foo) doesn't exist`
https://enzienaudio.com/h/diplojocus/sine/hrEkU/

Closing as can't reproduce

[2015-06-18 15:52] #46 closed

[2015-06-22 10:01] #19 closed

[2015-06-23 12:20] mhroth opened #48 "biquad~ should support set and clear messages"

[2015-06-23 12:21] diplojocus commented on #26
Implemented, will be in the next server update

[2015-06-23 12:21] #26 closed

[2015-07-02 12:40] ylevtov opened #49 "Add an optional flag to uploader to determine amount of memory allocated to JS by emscripten"

[2015-07-04 18:24] ylevtov opened #50 "Right inlet of [sel] unsupported"
[code]
returns
[code]

[2015-07-18 13:29] #45 closed

[2015-07-18 13:39] diplojocus commented on #24
Realistically this wouldn't happen as forking the pure data code would be substantial work.

We're improving the error reporting to show all unsupported objects as it compiles.

[2015-07-18 13:39] #24 closed

[2015-07-18 13:39] #21 closed

[2015-07-18 13:40] diplojocus commented on #28
Putting this on the backburner for now

[2015-07-18 13:40] #28 closed

[2015-07-18 13:41] diplojocus commented on #15
Fixed

[2015-07-18 13:41] #15 closed

[2015-07-28 09:36] ylevtov commented on #31
_Re-bump_

Even just some more descriptive error reporting would be a huge help. Was currently just getting

[code]

[2015-07-28 14:22] ylevtov opened #51 "tabosc4~ mixed format inlet not working"
tabosc4~ should be able to take a signal (for frequency) *and* a message (for 'set' messages to change which table it's reading) in it's left inlet.

Individually these, functions work, but Heavy crashes if you have a message and a message rate object connected simultaneously.

Works (message only):
[code]

Works (signal only):
[code]

Doesn't work (message and signal):
[code]

[2015-07-29 09:32] mhroth commented on #50
This configuration will remain unsupported in the foreseeable future. However now there is a warning.

[2015-07-29 09:32] #50 closed

[2015-07-29 09:32] mhroth commented on #38
The compiler not emits a readable error in this case.

[2015-07-29 09:32] #38 closed

[2015-07-31 15:54] ylevtov opened #52 "Add ability to define amount of TOTAL_MEMORY requested for JS app"
Currently I'm hacking the TOTAL_MEMORY variable in the minified JS that Emscripten produces. Would be nice to be able to add a flag to the uploader defining how much memory our app will require for loading samples etc.

[code]

[2015-08-01 14:06] olilarkin commented on #4
Yes please :-)

[2015-08-02 02:36] diplojocus commented on #52
Yes would be nice to set this from the user side.

@mhroth could we pass some variables in the POST message? i.e.
`
js_totalmemory=16777216
`

[2015-08-02 02:37] diplojocus commented on #49
Duplicate of #52

[2015-08-02 02:37] #49 closed

[2015-08-02 02:42] diplojocus commented on #2
Using taylor series expansion for efficient cos~ implementation

Reportedly up to 3x faster than Pd and original cosf() implementation https://twitter.com/dizzybanjo/status/626330071968710656

[2015-08-02 02:42] #2 closed

[2015-08-07 14:12] pingdynasty opened #53 "Support [log]"
We need it to output frequency CV's!

[2015-08-07 14:42] pingdynasty commented on #53
I think I meant [log~].

[2015-08-24 19:08] samuele-artuso opened #54 "Question about API token"
Hi, I'm using your `uploader.py` in an automated server script that runs as `nobody` user for security reasons.

On Linux, the `nobody` user doesn't have a home directory, so it is not possible to store the token in `~/.heavy/token`.

To work around this issue I hacked your `uploader.py` so that the token can be passed as a command line argument (I can provide a patch, if you are interested).

Rea

[2015-09-11 19:17] mhroth commented on #54
The token very rarely changes. There is the opportunity for us to do so, such as in the case of account abuse. At this time, it would be ok even to hardcode it.

I'd love to see your changes as well. Email might be the best option for now (or a `.patch` file, whatever's easier for you). Thank you!

[2015-10-14 17:19] ylevtov opened #55 "Dollar arguments in top level patch (i.e. _main.pd) crashing uploader"
Not a deal-breaker if you know that this causes a problem already, but a nicer error message would be more friendly for new users.

[2015-11-04 18:30] Rjblaauboer opened #56 "Destroying patch instance in javascript"
The documentation for vanilla C mentions that new patch instances can be created, processed, and destroyed. But the javascript documentation does not mention whether this is possible in the javascript implementation as well.

How would I go about this or is this currently not a feature?

[2015-11-09 17:56] ylevtov commented on #31
Re-bump. This is cropping up again and again for me. Any idea where this is on the roadmap?

[2015-11-23 20:34] rickygraham commented on #10
Any more on this, Joe? Support for [expr~] and [expr] would be super!

[2015-11-24 09:28] diplojocus commented on #10
It's not something we're actively working on at the moment, haven't thought too much about how this would work yet.

[2015-11-24 09:29] diplojocus commented on #10
Also I realised [expr] seems to have some behaviour like setting global variables outside of the object which could be tricky to support.

[2015-11-25 15:20] diplojocus commented on #56
Yes, this is definitely possible, each time you call the constructor it'll create a new instance:

[code]

The documentation just gives a simple example with one, but you can create a system to manage multiple patch instances.

p.s. sorry for the delay, not sure why I didnt see this earlier

[2015-11-25 15:20] #56 closed

[2015-11-25 16:26] Rjblaauboer commented on #56
No problem, thanks for the reply. How would I go about destroying the instance? Since I didn't see this mentioned in the javascript documentation.

[2015-11-25 17:29] diplojocus commented on #55
Does this still crash?

[2015-11-25 18:20] diplojocus commented on #56
You can do something like:

[code]

Yes you're right, in the example it'll go out of scope when the tab closes, there's not really an explanation of how to manage multiple instances yet, but it should be fairly straightforward.

[2015-11-26 16:41] ylevtov commented on #55
Nope

[2015-11-26 16:42] ylevtov commented on #55
Fixed

[2015-11-26 16:42] #55 closed

[2015-11-26 16:52] diplojocus commented on #55
Thanks!

On Thu, Nov 26, 2015 at 4:42 PM, Yuli Levtov notifications@github.com
wrote:

[2015-12-02 19:28] pingdynasty opened #57 "Assert fails in SignalTabread"
SignalTabread.h line 77:
[code]
The assert fails because bIn == -1.

Patch: https://enzienaudio.com/h/marser/owl/ (version 82)

When I run an emscripten OWL build with HV_SIMD_NONE I get this stack trace
[code]

[2015-12-04 14:18] mhroth commented on #57
Ahh the flanger strikes again. I'll take a look!

[2015-12-07 09:39] mhroth commented on #57
https://enzienaudio.com/h/marser/owl/0zI0f/

[2015-12-07 12:30] mhroth commented on #57
@pingdynasty are you using any optimisation flags? I cannot reproduce this on my macbook pro :-/ Could there be something platform specific happening?

[2016-01-18 15:07] woldhek opened #58 "uploader.py : add ability to link in library from a location"
could work like how you specifiy a patch path

[2016-01-18 15:08] woldhek opened #59 "vsts dont save parameter state (in Nuendo)"
But since its generic im assuming this also doesnt work in other hosts?

[2016-01-18 15:08] woldhek opened #60 "ability to not have main path be called _main"
but define the main patch in the path of the patch (as an option).

Reason: i dont lik having all my patches called _main makes browsing the recent files in pd itself a PITA

[2016-01-18 15:11] woldhek opened #61 "support list"
i like [c_drunk] from rjlib. would like to include it in heaylib but need [list] objects to do so.

[2016-01-18 15:12] mhroth commented on #59
Any chance that you could try this in [Reaper](http://www.reaper.fm/)? That's what I generally use to test. AFAIK it's been working for me there. I will test on Nuendo. Also, could you post the patch that you have been testing with? It will help me ensure that a solution will work for you.

[2016-01-18 15:13] mhroth commented on #57
A fix for this has been found and will be released with the new header update.

[2016-01-18 16:00] diplojocus commented on #61
I've added a refined version of [c_drunk] to heavylib. Does this meant your needs?

https://github.com/enzienaudio/heavylib/blob/master/hv_drunk.pd

Example here:
https://enzienaudio.com/h/diplojocus/drunk/

[2016-01-18 16:02] diplojocus commented on #60
Yeah we should expand the uploader script to accept a file path instead of just a directory.

[2016-01-18 16:29] woldhek commented on #59
confirmed it does work correctly in reaper

[2016-01-18 20:32] woldhek commented on #61
i get thsi compile error with that: 1) ←[91mError:←[0m [route bang seed set
seed] in "_main.pd/hv_drunk.pd/router" @
 (x:66, y:92): All arguments to [route] must be unique. Argument "seed" is
repea
ted 2 times.

On Mon, Jan 18, 2016 at 5:00 PM, Joe White notifications@github.com wrote:

[2016-01-18 20:51] diplojocus commented on #61
Sorry, should be fixed now, just updated heavylib

https://github.com/enzienaudio/heavylib/commit/742b26dc80246de8ee2138a94d0b44855f252f28

[2016-01-18 22:08] mhroth commented on #57
Our new streamlined headers pushed today will fix this issue.

[2016-01-18 22:08] #57 closed

[2016-01-18 22:08] #61 closed

[2016-01-18 22:16] woldhek commented on #61
confirmed fixed.

[2016-01-19 08:44] woldhek opened #62 "ability to create "bangs/toggleboxs""
that allows you to trigger things and toggle things

[2016-01-19 08:44] woldhek opened #63 "support [poly]"
or something similar to create polyphonic synths

[2016-01-19 10:07] woldhek opened #64 "ability to make patches private"
as soon as somebody knows my username on heavy they will be able to access all my assets and project files, I would like to be able to have some stuff be hidden from public view

[2016-01-21 19:55] woldhek opened #65 "running at higher pitch on chrome -windows."
When running a patch on windows it runs as higher frequency then it should. Resulting in faster everything. and finally higher pitches on output.

[2016-01-22 13:19] diplojocus commented on #65
duplicate of #37

[2016-01-22 13:19] #65 closed

[2016-01-22 13:20] diplojocus commented on #37
Does this only occur in Chrome? Does the same problem exist in Firefox? IE? (I dunno even if it runs in IE!)

[2016-01-24 15:06] mhroth commented on #62
@woldhek what do you mean by this exactly? Of course you can make `[bng]` or `[toggle]` objects in Pd. Are you looking for an interface created by Heavy? Something for the web?

[2016-01-24 15:06] #30 closed

[2016-01-24 15:07] #54 closed

[2016-01-24 15:08] mhroth commented on #60
Would it be ok if you could give the uploader a file name, and it will assume that that is the `_main.pd`, also uploading all other Pd files in the directory?

[2016-01-24 15:08] #6 closed

[2016-01-24 15:08] #7 closed

[2016-01-26 12:07] pingdynasty opened #66 "Undefined reference to alloca with ARM GCC compiler"
With the new HvUtils.h, `hv_alloca()` is defined as `alloca()`, which would be what you'd expect.

However, with current versions of arm gcc this fails to link with `undefined reference to 'alloca'`.

This works:
[code]

I'm not sure if this is something you want to change in your HvUtils.h, personally I'm quite happy to keep a local change in place. But recording the problem might be helpful to o

[2016-01-26 14:22] mhroth commented on #66
@pingdynasty would `#include <alloca.h>` work for you as well?

[2016-01-26 15:05] pingdynasty opened #67 "Access to parameter metadata"
I understand you have a system now for exposing parameters, or messages.
It would be great if this information was available in the generated code, e.g. as an array of names or a struct.

The use case:
User makes a patch with some exposed parameters, possibly with min, max and default values. If they are enumerable then our wrapper code can assign these to hardware knobs, incoming MIDI messages, o

[2016-01-27 19:53] pingdynasty commented on #57
thanks Martin!

[2016-01-27 19:55] pingdynasty commented on #66
No it doesn't I'm afraid - note that it's failing to link.
I think it might be a bug in the arm-gcc header files.

[2016-01-27 19:58] pingdynasty commented on #66
I lie.
`#include <alloca.h>` works fine!

[2016-01-29 16:36] pingdynasty commented on #60
How about keeping the input directory argument as it currently is, with the option of declaring a main pd filename (which defaults to _main.pd). Then we've got backwards compatibility.

[2016-02-05 12:13] giuliomoro commented on #63
+1

[2016-02-06 14:04] roberthjack commented on #63
+2

[2016-02-10 14:30] woldhek commented on #60
both would work for me.

On Fri, Jan 29, 2016 at 5:36 PM, Martin Klang notifications@github.com
wrote:

[2016-02-10 14:31] woldhek commented on #62
yes ability to send bangs from web/vst/everything else.

On Sun, Jan 24, 2016 at 4:06 PM, Martin Roth notifications@github.com
wrote:

[2016-02-12 14:56] woldhek opened #68 "support 32 bit vsts."

[2016-02-12 15:22] woldhek opened #69 "ability to rename patches"
currently once yo uname them thats it.

[2016-02-17 14:38] manwithfeathers opened #70 "vline~"
Is vline~ going to appear at all? Many thanks.

A

[2016-02-17 14:50] diplojocus commented on #70
There's a vline~ replacement abstraction in heavylib, it's not 1-1 but should work for most needs and has the same interface.

https://github.com/enzienaudio/heavylib

[2016-02-19 10:39] maxiestudies opened #71 "can't download the wwise plug in"
when tryin to download the Wwise Win64 plug-in I get this message

Not Found

The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.

[2016-02-19 10:46] diplojocus commented on #71
Strange, could you send me a link to your patch?

[2016-02-19 12:09] pingdynasty opened #72 "HvMessage optimisations"
Request to change HvMessage.c
[code]

[2016-02-19 12:09] pingdynasty commented on #66
Closing this as resolved.

[2016-02-19 12:09] #66 closed

[2016-02-19 14:18] chrisjdarcy opened #73 "Pd Patch working but Unity Plugin and Compiler Preview is missing parts of patch output"
Compiler is playing ball with the patch, it implements into Unity 5.2.2f1 with no problem, but the plugin isn't outputting everything that is in the patch. Patch plays as it should in Pd but runs into this after compiling. I've downloaded the Pd patch after the compile and there's no problems with, just the Unity plugin. The same goes for the plugin preview.

Patch page here: https://enzienaudio.c

[2016-02-19 14:25] diplojocus commented on #73
Hmm it's the bubbles sound that's not playing right? I'll take a look, can you try and isolate the part of the patch that isn't working by itself?

[2016-02-19 14:36] chrisjdarcy commented on #73
I'll make a patch solely of the bubble with a gain control and see if it is actually that patch.

[2016-02-19 14:58] chrisjdarcy commented on #73
Made the patch, still no output. Is it possible that an object is being overlooked or isn't actually supported?

https://enzienaudio.com/h/Dercii/Bubbles_Test/

[2016-02-19 15:41] diplojocus commented on #73
I think there's two issues here:

One is that in Heavy the [vd~] object requires a signal connection to it's inlet. It's an issue in Heavy that we're aiming to fix but for now you need to insert a [sig~] object just before the [vd~] if you're connecting a control object.

The other one that I don't think your patch is doing what you expect it to do. It looks like you're trying to create a single s

[2016-02-19 16:01] chrisjdarcy commented on #73
Would it be fine to use [rzero_rev~ 1]-[\* -1] for what I want to do? I had changed it to [vd~] as I thought that was what was causing the output loss.

Would routing the same metro out to multiple sources eat up less resources? Like a master clock, if you will.

[2016-02-19 16:09] diplojocus commented on #73
Yeah but additionally, there's another small issue in that the default argument in [rzero_rev~] won't work correctly and you'll have to do something like:

[code]

Sorry that it's not explained anywhere, it's another thing we're looking to fix. It would probably explain why you initially got no output.

Yeah that would help a lot.

[2016-02-19 16:17] diplojocus commented on #73
ahh if you replace the delayline with [rzero_rev~ 1] i think you need to also replace the [*~ -0.1] afterwards with an [abs~] instead.

[2016-02-19 18:11] chrisjdarcy commented on #73
Done as you've suggested. There is output now, but it isn't what is expected.

[2016-02-19 22:12] maxiestudies commented on #71
hey Thanks for your answer!
Here is my patch!

https://enzienaudio.com/h/maxiestudies/wwisePlugIn/

2016-02-19 11:46 GMT+01:00 Joe White notifications@github.com:

##

Maximiliano Estudies
Fixheider Weg 27
51061 Köln
+49 178 36784771
maxiestudies.com

[2016-03-01 23:38] grrrr opened #74 "undefined abstraction arguments cause error"
In Pure Data, if a $-argument inside an abstraction is not defined, it defaults to 0. This is often used on purpose, as a way to implement variable length argument lists.
The heavy compiler throws an error if an abstraction argument is not defined.

[2016-03-01 23:41] grrrr commented on #61
Is there a reason that [list] is not implemented? It is essential for all kinds of message processing.

[2016-03-02 14:47] mhroth commented on #74
You are right about that.  Heavy does not support all Pure Data language features. In this case, Heavy expects all arguments to be explicitly specified. For this reason, for example, Heavy will also throw an error if you have a `$1` in the top-level patch. I do not expect this difference to be resolved soon.

[2016-03-03 01:30] #73 closed

[2016-03-03 01:31] mhroth commented on #72
@pingdynasty does the OWL not like `hv_snprintf`?

[2016-03-03 01:32] #71 closed

[2016-03-03 01:38] mhroth commented on #61
@grrrr It's certain that `list` support will come to Heavy eventually. I'm keen to put together a "Zen of Heavy" list of tips and tricks, and one of the things that it will say is that the thing that Heavy excels at is handling the signal chain. For any functionality that you are supporting with the `list` object, you are probably better off handling it outside of the Heavy context and the sending

[2016-03-03 08:53] pingdynasty commented on #72
printf-family are quite weighty, would be good to loose a bit of code
size and ram: about 3k.
I might substitute for my own ftoa() and itoa() functions, try it out
and send a diff.
Am I right in thinking `msg_toString()` is only called when the print
hook is used?

On 03/03/16 01:31, Martin Roth wrote:

[2016-03-03 09:28] mhroth commented on #72
Yes, that's correct. Heavy only calls `msg_toString` for the `print` object. The function is exposed in the top-level API as well, so potentially others are using it too. I will make your changes though, they're a good idea. You wouldn't believe how old that code is even if I told you :)

And if you want to send over at least a suitable implementation of `ftoa` I could probably use that too.

[2016-03-03 11:53] pingdynasty opened #75 "MessagePool assert typo"
MessagePool.c line 120:
  `assert(i < MP_NUM_MESSAGE_LISTS);`

should be:
`  hv_assert(i < MP_NUM_MESSAGE_LISTS);`

[2016-03-03 16:30] pichiste commented on #16
Hi there,

Just wondering if there had been any progress on this. As I understand it, currently there's no way to pipe an audio stream (i.e. MediaStreamSource) into the ScriptNode?

Thanks!

[2016-03-08 20:01] pingdynasty opened #76 "SignalBiquad error"
With HV_SIMD_NONE, SignalBiquad.c fails to compile:
[code]

I think this patch will fix it:
[code]

[2016-03-08 21:24] diplojocus commented on #76
Sorry about that, just updated the server with a fix. Let me know if you still have issues.

[2016-03-09 11:24] pingdynasty commented on #76
Thanks Joe, that compiles.

[2016-03-09 11:24] #76 closed

[2016-03-09 11:25] pingdynasty commented on #72
Now I think there's a typo in HvMessage.c:

[code]

[2016-03-09 11:28] pingdynasty commented on #72
Here's my HvMessage.c:
https://github.com/pingdynasty/OwlProgram/blob/memmathperf/HeavySource/HvMessage.c
And the ftoa/itoa implementations:
https://github.com/pingdynasty/OwlProgram/blob/memmathperf/Source/message.cpp

[2016-03-09 11:57] mhroth commented on #72
!! `hv_assert(finalString ! = NULL);` is fixed now.

[2016-03-09 23:14] grrrr opened #77 "[array size] supported?"
Hi, using [array size] with a table name in a patch results in a compilation error: "There was an error while connecting two objects. Have all objects been correctly instantiated? Have all inlets and outlets been declared?"

#N canvas 127 367 418 316 10;
#X obj 48 27 adc~;
#X obj 47 262 dac~;
#X obj 168 25 loadbang;
#X obj 288 74 table buffer 100;
#X obj 168 259 send output;
#X obj 169 152 array s

[2016-03-10 12:30] mhroth commented on #77
@grrrr Yes, this is an error on our part. I have fixed it and removed `[array]` from the list of supported objects.

[2016-03-10 12:30] #77 closed

[2016-03-10 12:33] grrrr commented on #77
i have to say though that it's a pity that array is not supported

[2016-03-10 13:11] mhroth commented on #77
As with many thing in Heavy, "not supported _yet_" :)

[2016-03-10 22:08] grrrr opened #78 "Pure data external: #HV_TO_PD sender hook crashes on messages with selector"
Sending a message from a heavy patch out to a Pd host is ok for floats, but not for more complex messages involving a selector. The compiled external crashes with a bus error.
Find below an example for a _main.pd where this happens. Float messages sent into the external are converted to messages with a selector - the external crashes immediately on sending the message.
I am suspecting a memory all

[2016-03-11 09:51] Simon-L commented on #12
Any replacement or hack suggestion as of now?

[2016-03-11 22:20] grrrr commented on #78
Ok, i got around to taking a look at it. It's a different problem. The generated code doesn't play nicely with the Pure Data API. In Pure Data, symbols must be generated with the `gensym` function, they can't simply be initialized with string pointers (that `hv_msg_getSymbol` delivers).
A diff for the `sendHook` function would look like this, using macros that are defined in m_pd.h:

[code]

[2016-03-16 10:01] grrrr commented on #27
block~ would be a fantastic thing, especially if fft~ is efficient. We could also discuss which FFT implementation to use. Btw., fft~ is really only useful if tabsend~ and tabreceive~ are there as well.
Currently, the related support for switch~ (block~'s twin sibling) would be much appreciated. Does the heavy infrastructure support shutting off parts of the dsp chain, as often done in Pure Data?

[2016-03-22 06:12] mhroth commented on #27
Post GDC, it's definitely time to implement the FFT family of objects and the infrastructure that goes with it.

[2016-03-22 06:14] mhroth commented on #27
No, not currently. Maybe it will in the future. But if you are desperate to turn off parts of your signal chain, then I would suggest creating two independent Heavy contexts and switching between them during runtime.

[2016-03-22 06:17] #75 closed

[2016-03-22 06:34] mhroth commented on #78
@grrrr Thanks for the patch! I've finally had a chance to review it and have merged your patch and pushed the changes to the server. Makes sense!

[2016-03-22 06:34] #78 closed

[2016-04-04 19:35] nyboer opened #79 "no target or product for pd external source?"
With this [very simple pd patch](https://enzienaudio.com/h/peboer/sineomat/)
I downloaded the [pd source](https://enzienaudio.com/h/peboer/sineomat/I34fI/pdext/src/archive.zip) and ran the build on XCode Version 7.3 (7D175) OSX 10.11.3.

It built without complaints, but I'm mystified where the sineomat~.pd_darwin ends up. The only deployment path I see in the xcode project is that it is installed

[2016-04-05 09:29] diplojocus commented on #79
Hmm, I'm using Xcode 7.2.1 and OSX 10.10.5, when I build the project it creates a 'build' directory in the top level of the source folder. The product outputs can be found there depending on your target settings. Your external also loaded for me no problem.

I'll update and see if I get the issues you're describing.

[2016-04-05 12:31] diplojocus commented on #79
@nyboer I just updated my machine, I'm on OSX 10.11.4, Xcode 7.3. Aside from a couple of warnings related to the output path, the build can still be found in `./build/$CONFIGURATION/sineomat~.pd_darwin` and loads correctly in Pd.

Let us know if you're still having issues.

[2016-04-05 12:31] diplojocus commented on #79
Note that's relative to the xcodeproject

[2016-04-09 06:09] onoche opened #80 "Using the heavy and unity5, does it work in Android?"
Using the heavy and unity5, does it work in Android?

[2016-04-11 11:03] diplojocus commented on #80
The heavy code itself is definitely optimised for Android, although I haven't tested it myself with Unity.

Essentially you'll need to compile the C source code into a compiled library (.so) and add it to your Unity project with the correct platform settings.

Check out the `Unity Src` target for this patch https://enzienaudio.com/h/diplojocus/sine/ as an example of how to create the plugins for O

[2016-04-11 11:53] Blue-Tone commented on #80
Thank you.
Try to challenge!

[2016-04-13 23:02] #70 closed

[2016-04-13 23:02] diplojocus commented on #63
This has been implemented and pushed to the server

[2016-04-13 23:02] #63 closed

[2016-04-26 20:00] martinbussyparis opened #81 "Heavy's compiler uses a too old version of Wwise"
Hi,

I have just realised that Heavy compiles not only the Wwise plugin itself but the runtime part too + the Visual Studio solution, which is great.

Although, having to use an old version of Visual Studio (2013) and Wwise (v2014.1.3) is complicated, especially if I want to copy/paste stuff from old projects. Also, versions of Wwise anterior to 2014.1.4 can't be used with Unity 5 and requires Uni

[2016-04-26 20:26] diplojocus commented on #81
@martinbussyparis we're just working on a better solution for v2015/2016 and having an option to have static runtime plugins or dynamic runtime plugins. This is definitely coming soon.

[2016-04-26 20:39] martinbussyparis commented on #81
Hey Joe,
What would be a dynamic runtime plugin? Would we be able to live edit the Wwise plugin in PD?
Good to hear about the coming update anyway :)

[2016-04-27 07:23] martinbussyparis opened #82 "[adc~] makes Wwise to crash"
![image](https://cloud.githubusercontent.com/assets/11868830/14844549/c0a73cd4-0c60-11e6-863a-34b40ddb9010.png)

The Wwise source plugin version of this patch makes Wwise to crash when the playback starts (tested with Wwise 2014.1.3 and 2015.1.6).

Here is the error report generated by Wwise (including a dump file):
[Wwise_v2015.1.6.Error_Report.2016-04-27.10-20-06.zip](https://github.com/enzienau

[2016-04-27 07:33] martinbussyparis opened #83 "Support [sigmund~]"
Or is there another way to do pitch tracking with the currently supported objects?

[2016-04-27 07:52] martinbussyparis opened #84 "[send] doesn't seem to work with Wwise source plugins"
Issue #13 seems to imply that [send] has been implemented and works within Wwise souce plugins, but I don't see anything in Wwise with this PD patch:
![image](https://cloud.githubusercontent.com/assets/11868830/14845293/e64e097c-0c65-11e6-821c-f6b7423ebaa9.png)
![image](https://cloud.githubusercontent.com/assets/11868830/14845273/d160c392-0c65-11e6-8f2b-35cfe2126474.png)

Is it expected to work? D

[2016-04-27 08:10] martinbussyparis opened #85 "Wwise plugins support - add the possibility to build a Wwise Effect plugin"
Wwise Source plugins allow synthesis, analysis of the audio input, etc., but can't affect any audio signal coming from Wwise; Wwise Effect plugins are designed for this and it would be nice to be able to generate both types of Wwise plugins with Heavy.

Heavy-Wwise Effect plugins would support:
- [reveive]
- [receive~]
- [send]: this feature would work as the Wwise Meter and send the parameters to

[2016-04-27 08:49] diplojocus commented on #85
@martinbussyparis Wwise Effect Plugins are coming, we've got it working just need to roll it out on the site. The way it would work is
- [receive @hv_param 0 1 0.5] would be your RTPC input to the plugin
- [adc~] audio rate input
- [dac~] audio rate output

It should be possible to send messages out of the plugin but I haven't integrated that into the Wwise wrapper yet.

[2016-04-27 08:59] martinbussyparis commented on #85
Yes, [adc~] and [dac~] of course... sorry, this is what I meant.

Good to know it is almost there :)

[2016-04-27 21:56] jayrope opened #86 "Support for [until] ?"
Is there a support for [until] in sight? It's very helpful for instance to iterate through tables of audio, when looking for zero crossings.

[2016-04-27 22:45] jayrope commented on #10
I'd like to second this request. Even as a simpler version, like only supporting simple math, as in [expr 44100 / $f1]

[2016-04-27 23:13] rickygraham commented on #10
Even if Heavy didn't support global variables outside of the object, I'd be fine with that. It would be a huge time saver.

[2016-04-28 00:05] jayrope opened #87 "Support for [tabplay~] ?"
Will there be support for tabplay~ ? The beauty of this object is, that it allows to play/loop fractions of audio from a table at samplerate. For instance one can fill a second table with a list of indices of positive zero crossings and then have tabplay~ between those. Very nice for click free sample exact looping.

[2016-04-28 00:21] diplojocus commented on #10
the expr family isn't super high priority for us at the moment. Understand that it's useful for quick patching, are there any use cases where you feel it's critical?

@jayrope for simpler math, heavy does support passing two values to the left inlet of the binary operators, (instead of making direct connections).

i.e

[code]

is the equivalent of
`[expr 44100 / $f1]`

Will that work for the time

[2016-04-28 02:04] jayrope commented on #10
Very well, that works for me right now.

[2016-04-28 13:46] diplojocus commented on #86
@jayrope this has been implemented now and updated on the server
please see: https://enzienaudio.com/docs/pdobjects.html

[2016-04-28 13:46] #86 closed

[2016-04-28 22:49] diplojocus commented on #84
ohh sorry @martinbussyparis, yeah this isn't expected to work yet. Changes coming soon that will address expectations like this! But that previous post was more outlining the direction of the API to access hooks in other frameworks like Wwise.

Apologies for any confusion.

[2016-04-28 22:49] #84 closed

[2016-04-28 22:50] diplojocus commented on #79
@nyboer did you manage to solve this problem?

[2016-04-29 01:06] giuliomoro commented on #10
I need binary bitwise operators for signals~.
In Pd I would do

[code]

because `[&~]` does not exist.
In heavy, I see no way of doing bitwise operations on signals.

[2016-04-29 11:28] diplojocus commented on #9
The following are all supported now:

[code]

[2016-04-29 11:28] #9 closed

[2016-04-29 11:30] diplojocus commented on #4
[vline~] functionality can be replaced by the [hv_vline~] abstraction found in the heavylib
https://github.com/enzienaudio/heavylib/blob/master/hv_vline%7E.pd

It doesn't have sub-sample accurate enveloping, but you can queue up multiple comma-separated messages.

[2016-04-29 11:30] #4 closed

[2016-04-29 11:33] diplojocus commented on #5
This has be implemented.

[2016-04-29 11:33] #5 closed

[2016-04-29 11:38] diplojocus commented on #18
We've reordered the headers to include so that this Context(_c) macro shouldn't be visible now.

[2016-04-29 11:38] #18 closed

[2016-04-29 11:39] diplojocus commented on #14
For SSE the minimum requirement is SSE4.1 (instead of 4.2 previously).

[2016-04-29 11:39] #14 closed

[2016-04-29 11:40] diplojocus commented on #20
Implemented

[2016-04-29 11:40] #20 closed

[2016-04-29 14:10] diplojocus commented on #10
@giuliomoro is there a reason why it needs to be done at signal rate?

Also, do you want to apply the bitwise to float signals? Which library are you using that has [&~]? Heavy only really supports the vanilla object set and signal rate bitwise operations aren't available there.

Why not do the calculation at control rate and then convert it to signal?

Also you're expecting your float input to be

[2016-04-29 14:18] giuliomoro commented on #10
Hi Joe,
actually I thought of it again overnight and in fact the casting would break my plans. So it's better if I explain what I aim to do in a dedicated issue.

[2016-04-29 14:21] giuliomoro opened #88 "Bitwise ~"
On Bela we have the 16 digital channels encoded as 32bit words (sampled at audio rate). The lower half-word tells you whether a channel is input (1) or output (0), the upper half-word carries the input value read in the last block ( if an input) or the output value that will be written in the next output ( if an output).
Of course, I could transform these into real audio channels in the C wrapper,

[2016-04-29 14:30] diplojocus commented on #88
So in heavy we do have capabilities for integer connections and bitwise operations but the only issue is that because Pd doesn't support it and we don't have our own editor there's not a clear interface to that part of the API.

I'm fairly sure we can support your use case but it might take us a day or so to implement and wouldn't get round to it till at least after next week.

[2016-04-29 14:32] giuliomoro commented on #88
Oh that'd be great, no hurry.

Then I guess we could use:
To read input channel 0:

[code]

To write output channel 1:

[code]

with the caveat that only a single [dac~ 11] object should exist in the patch and signals should be all or'ed together into it.

[2016-04-29 19:01] jayrope commented on #86
Very nice! Very quick response, thank a bunch. I will report back, if there is any issues.

[2016-05-01 19:18] jayrope commented on #37
The Owl runs at 48KHz as a default, so Windows and browser should be congruent. My Mac runs on 44.1KHz. So i have to make sure to loadbang the samplerate~ object to distribute current sample rate to tabread~ etc not to run into pitch problems

[2016-05-01 20:55] jayrope opened #89 "Is [array] going to be supported again?"
Is [array] going to be supported again?

[2016-05-02 13:16] diplojocus commented on #89
You can have an array object in your patch (in Pd > Put > Array) but we don't support the array library objects: [array sum], [array get], etc...

They're quite a recent addition to the Pd.

[2016-05-02 13:19] diplojocus commented on #87
Yep, I think we can support [tabplay~] at some point, need to look at all the features it has. But you should be able to replicate it with a combination of [line~], [hv_vline~], and [phasor~].

[2016-05-06 17:50] jeppius opened #90 "FFT support?"
Any plants to incorporate [fft~] and the like?

[2016-05-09 10:37] diplojocus commented on #90
It's in the pipeline https://github.com/enzienaudio/heavy/issues/12

[2016-05-09 10:37] #90 closed

[2016-05-12 15:51] andymule commented on #10
maybe im wrong, but i thought expr was a self-contained system entirely of its own accord and puredata was added later, so global stuff outside the object is surprising to me. i think he wrote it for CSound initally? Shahrokh, the author, was my grad school mentor, so i can introduce you if you want to explore implementation. the PD community loves expr, so while its not NECESSARY, it is so so nic

[2016-05-13 15:21] ylevtov opened #91 "Historic patch pages only shows option to download Pd, C, and JS"
Is this by design? Could we have the option to download other builds from historic patches too?

[2016-05-13 15:48] owenhindley opened #92 "Change Unity wrapper API to allow filling of tables directly from a float[] array"
Just looking through the new wrapper - and noticed it doesn’t support multi-channel audio files.

I managed to get multichannel audio files transferring from Unity into Heavy by extracting the individual channels into their own float[]s, and then sending them to tables (here using a naming convention of tableName-1, tableName-2 etc for each channel)

Would it be possible to add a method to the Uni

[2016-05-19 10:57] diplojocus commented on #92
There's now also a method in the C# like so:
`public void FillTableWithFloatBuffer(string tableName, float[] buffer)`

[2016-05-19 10:57] #92 closed

[2016-05-19 18:07] jayrope commented on #83
Originally there is fiddle~ - but also unsupported. Yet?
I second support for sigmund~

[2016-05-21 02:40] giuliomoro opened #93 "Assertion `newIndex <= mp->bufferSize' failed."
I have 544x [tabread~] objects.
This generates about 41000 lines of code in the HV_bbbContext.c file
Once I manage to compile it, I run it and I get:
`BeagleRT: source/MessagePool.c:132: struct HvMessage *mp_addMessage(MessagePool *, const HvMessage *): Assertion `newIndex <= mp->bufferSize' failed.`

note: with 256x [tabread~] it is at 45% CPU

Pd patch and c files
https://enzienaudio.com/h/giuli

[2016-05-22 19:59] giuliomoro opened #94 "Assertion `index < msg_getNumElements(m)' failed."
On Bela,
at runtime I get
````source/HvMessage.h:101: void msg_setBang(HvMessage *, int): Assertion `index < msg_getNumElements(m)' failed.````

The patch consists of 100 oscillators with ADSR. The output of a single [tgl] object is connected to 100 objects.

job url: https://enzienaudio.com/h/giuliomoro/bbb/gKzZE

[2016-05-27 01:49] giuliomoro opened #95 "heavy uploader fails without meaningful error"
In the uploaded patch, I am trying to [tabread4~] from an array that is not existing.
The uploader.py (latest rev) fails with no meaningful warning.
Expected behaviour: it should detect and report the error back to the client

Here is the traceback
[code]

[2016-05-30 17:53] JackVerde opened #96 "Wwise 2016.1?"
I've noticed that in the docs it says Wwise v2016.1 build 5648. Am I missing something? I only see up to 2015.1.7 5584 on audio kinetic website.
Also, any chance to see some Wwise docs for mac users too? Awesome work btw

[2016-05-30 18:03] diplojocus commented on #96
@jackverde the new Wwise should be out soon and Mac docs are incoming!

[2016-05-30 18:08] GiacomoGaroffolo commented on #96
That means I won't be able to use it till then? I've been trying to get the Dynamic Runtime Plugin to work but no luck

[2016-05-30 18:29] diplojocus commented on #96
That's correct, sorry about any confusion. The dynamic plugin is new in 2016 and we're slightly ahead of the curve. Should be released any time now.

[2016-06-01 22:42] jedsound commented on #85
Joe,
Do you have any ETA on that issue?

[2016-06-02 08:39] heni40 opened #97 "HvLightPipe.c errors"
Hi,
there popped up a new error I haven´t seen, yet. After compiling the same patch as a C Source, there is a new hvlightpipe class which is not compiling in VS2015.
The error is:
'__asm__': undeclared identifier
syntax error: missing ';' before 'volatile'
both in Line 87 and again in 105 in the HvLightPipe.c File.

this is frustrating, because I had everything up and running and now the new class

[2016-06-02 09:39] mhroth commented on #97
Hi @heni40. If you're trying to compile from scratch in VS2015, be sure to add the `HV_SIMD_SSE` flag to the C preprocessor. You can also look at any of the VS2015 projects that we generate as a template.

[2016-06-02 20:18] heni40 commented on #97
Hi mhroth,
thank you for the reply. Did that, now I got problems with my biquads and cpole filters.
The error is something like this:
Severity    Code    Description Project File    Line    Suppression State
Error   C2719   'bX2': formal parameter with requested alignment of 16 won't be aligned

Any suggestions?
Thx

[2016-06-02 20:23] mhroth commented on #97
You can solve this problem by compiling in 64-bit mode i.e. `x64`. If you absolutely have to compile for 32-bit mode i.e. `x86` then unfortunately I don't yet know how to solve this problem.

[2016-06-02 20:54] heni40 commented on #97
ok, got it running in x64 mode. It now crashes every time I use hv_vscheduleMessageForReceiver.
I´m using it to compile a JUCE Plugin and test it with the JUCE Plugin Host (also now compiled for x64). Maybe this helps sorting this out.

[2016-06-02 21:16] heni40 commented on #97
Just tried it in Reaper x64. That works. So must be something with the JUCE Plugin Host. gonna have to figure that problem out. But thanks so far!!

[2016-06-02 22:13] mhroth commented on #97
You are trying to make an audio plugin e.g. a VST2? Try downloading our VST2 source for your patch and see how we structured the project. You can also try the VST2 (e.g. with Reaper64) to it working live.

If you're only trying to send a single float value into the context, try using the convenience function `hv_sendFloatToReceiver()`.

[2016-06-02 22:29] mhroth commented on #97
BTW I've also added a change so that you can compile in 32-bit mode, in case you need to. You'll have to recompile to get the new code. Let me know if you have any questions!

[2016-06-03 10:29] heni40 commented on #97
I am combining different patches in a JUCE Plugin Project to be able to build VST, VST3 and AU Plugins for OSX and Windows.
So the build that ran on reaper yesterday actually didn´t run. I loaded the 32-bit VST version from before. My mistake. I can now compile a 64 bit Version and also got it running.
2 problems still occur and I have no clue how to solve them right now.

1: it still crashes ever

[2016-06-03 11:18] mhroth commented on #97
I'll get back to you when I have more information, but in the meantime your second issue with `__hv_store_f` is very atypical. Are you sure that you're using the correct version of `process()` in JUCE? I.e. `process()`, `process_inline()` or `process_inline_interleaved()`

[2016-06-03 12:33] heni40 commented on #97
yes, I´m pretty sure I do that right. It worked before, so I´m quite confident.

I got a step further. I got two patches in there.
1st patch: 0 Inputs, 3 Outputs.
2nd patch: 3 inputs, 3 outputs.

It works when I deactivate patch 2. I have `nullptr` as inputBuffer and a 3 channel `JUCE::AudioBuffer<float>` (which is basicly an Array of float Sample Arrays) as Output Buffer. When I load the VST the

[2016-06-03 13:48] heni40 commented on #97
The problem is indeed the `JUCE::AudioBuffer<float>`. I tried it the way it is written in the C API example and created a `float **inBuffer`. That actually does work. It actually did work before the switch to 64-bit. It sadly is much more work to allocate and deallocate the buffers all by hand and not being able to use the JUCE class.

**edit:**
only worked with small test patch... the actual thin

[2016-06-03 17:09] mhroth commented on #97
@heni40 I pushed a small change which will allow you to compile Heavy in Win32 (x86) mode with `HV_SIMD_SSE` enabled. You can now avoid the `formal parameter with requested alignment of 16 won't be aligned` error. You'll need to recompile your patch to get the changes. Maybe this will help you?

Unfortunately your other errors don't necessarily suggest any error within heavy itself (though the err

[2016-06-03 17:33] heni40 commented on #97
@mhroth makes sense with the messages.
the `formal parameter with requested alignment of 16 won't be aligned` error is still there, but not so many. Before it was in the signalbiquad.h and signalcpole.h files. Now only in the signalcpole.h files.

[2016-06-03 18:35] mhroth commented on #97
Would you please send me the enzien link to your patch?

[2016-06-03 18:39] heni40 commented on #97
sent it via email

[2016-06-03 19:07] heni40 commented on #97
it runs under xcode, but only without the `HV_SIMD_SSE` flag. Is this flag VS specific?

[2016-06-03 22:41] mhroth commented on #97
I feel like you have a lot of different things all going wrong at once. Forget about `HV_SIMD_SSE` for now, as you said that you weren't that comfortable with SSE. Pass the `HV_SIMD_NONE` flag to both Xcode and VS. It will maximise the chances of making it work.

[2016-06-05 15:43] giuliomoro opened #98 "hv_vscheduleMessageForReceiver only sends to one receiver"
If there are multiple receivers with the same name, `hv_vscheduleMessageForReceiver` will only send to one of them (the most recent maybe?).
I am sure there are good reasons for this and I see how it would be good practice, but I would advocate that:

1. it should be documented
2. you should get at the very least a warning, or better an error, at compile time.

[2016-06-06 15:02] mhroth commented on #97
@heni40 I've had another chance to look at your plugin. I tried compiling the patch that you sent me as a 32-bit Windows VST, and it seems to work fine. Have you seen our [JUCE examples](https://github.com/enzienaudio/examples/tree/master/juce/audio_plugin)? The Heavy `process` function is called [here](https://github.com/enzienaudio/examples/blob/master/juce/audio_plugin/Source/PluginProcessor.cp

[2016-06-06 15:30] heni40 commented on #97
Hi mhroth, thanks I saw that example. And thats exactly how I implemented it. It currently works fine in 64-bit with the `HV_SIMD_NONE` flag. So right now I am gonna stick with that.
Thank you for all the help. And thank you for the nice heavy compiler!!

[2016-06-06 23:14] mhroth commented on #98
Hi @giuliomoro. I've just pushed a fix for this issue. Thanks for pointing it out!

[2016-06-06 23:14] #98 closed

[2016-06-06 23:15] mhroth commented on #68
@woldhek We are supporting this now if you compile from source. Would it still be useful for you to have this available directly for download from the project page?

[2016-06-07 10:40] mhroth commented on #97
Great! I'm glad that it worked out.

[2016-06-08 14:16] diplojocus commented on #85
@jedsound we're just putting the finishing touches to the new 2016 release and then we'll look at creating effect plugins.

[2016-06-14 16:24] micuat commented on #80
Hi @Blue-Tone, @diplojocus,
I successfully ran heavy on Android but there were some tricky issues:
- `Unity Src` compile fails when running `ndk-build`. The problem is related to [stdatomic.h](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60932). In `HvUtils.h`, I changed the include to

[code]

  and it compiles fine (the cpp codes don't use `<atomic>` so it doesn't have to be included)
- I had to

[2016-06-14 16:39] mhroth commented on #80
Hi @micuat Great work! We're working on official Unity/Android support on our side as well. Hopefully we'll have something in the next few weeks so that you can automatically download prebuilt binaries.

If you're building on Android, you may need to add `LOCAL_CFLAGS := -std=c11` or `LOCAL_CPPFLAGS := -std=c++11` to `Android.mk` in order to enable support for `atomic` (we use it for lockless thre

[2016-06-16 17:44] TrofSivart opened #99 "Unreal Engine support?"
I've been loving your compiler for the past few months and I've been messing around with Unreal for awhile now. I was wondering if you had direct engine support like you do for Unity. I know that I can compile for Wwise and call events that way, but if you do that is there a way to send float and bang messages to the Pd event during runtime in a script like you can using Unity?

[2016-06-17 08:31] diplojocus commented on #99
@TrofSivart Hmm yeah good point, I haven't looked at direct UE4 support yet. Do you have any links to documentation on their audio engine?

There's not really a way in Wwise to send bang events. One approach would be to use a float send and just convert the input to a bang in your patch. That way each time you change the parameter it'll trigger an event.

[2016-06-18 06:59] travisfoo commented on #99
Hm, it seems like (unfortunately) the Unreal low-level audio support is a work in progress. Take a look at this forum post. https://forums.unrealengine.com/showthread.php?68027-Can-we-PLEASE-get-some-more-advanced-audio-please-Like-custom-convolution-reverb-etc&p=281995&viewfull=1#post281995

I think I'm going to try the float-as-bang sender. Shouldn't be too big of an issue. Thanks!

[2016-06-18 07:02] travisfoo commented on #99
If you have an Epic Games account, you can look at the source for the audio stuff here: https://github.com/EpicGames/UnrealEngine/tree/release/Engine/Source/Runtime/UnrealAudio

But I'm not sure how much that would help you build Heavy for the platform.

[2016-06-18 12:20] diplojocus commented on #99
Oh cool, thanks for the link! That's interesting, I'll try and reach out to him.

[2016-06-18 19:29] mhroth commented on #80
@Blue-Tone @micuat We just rolled out automated Android builds for Unity. Take a look on your project pages (you may have to recompile).

[2016-06-22 10:42] diplojocus opened #100 "MIDI Support"
Add support for the MIDI objects in Pd. Note it still requires an implementation on the target platform, for example VST will have support but Unity will not.

[notein] omni/single
[ctlin] omni/single
[pgmin] omni/single
[bendin] omni/single
[touchin]

[2016-06-22 20:00] mhroth commented on #81
Heavy now supports Wwise 2016 and later.

[2016-06-22 20:00] #81 closed

[2016-06-22 20:01] #94 closed

[2016-06-22 20:02] #93 closed

[2016-07-05 20:47] jrdooley opened #101 "Add ability to compile and download a Linux VST"
The ability to download a Linux VST binary, or provide a template makefile in the source download would be a welcomed enhancement.

[2016-07-05 20:59] diplojocus commented on #101
@jrdooley yep we should this! Good idea. We already have linux makefiles in the unity target so we should be able to apply that to VSTs.

[2016-07-06 13:47] mhroth commented on #95
Fixed as of release ``r2016.07.05`.

[2016-07-06 13:48] mhroth commented on #82
We don't yet support Wwise effects, but it's on the roadmap.

[2016-07-06 15:49] martinbussyparis commented on #82
Yes, back then when I tried, I expected [adc~] to work in a source plugin. It was before our discussion about the future support of effect plugins.
Fair enough :)

[2016-07-07 10:48] #96 closed

[2016-07-07 10:49] diplojocus commented on #82
Closing this as it should be covered by #85

[2016-07-07 10:49] #82 closed

[2016-07-07 15:04] Simon-L commented on #101
I absolutely +1 on this!

@diplojocus : Are these Makefiles for the Windows or the Linux (though still experimental) build of the Unity Editor? Last time I checked I think project files for Windows only were provided.

[2016-07-07 15:13] diplojocus commented on #101
When you download the `Unity Src` target you'll see something like the following:

<img width="338" alt="screen shot 2016-07-07 at 16 06 37" src="https://cloud.githubusercontent.com/assets/594588/16658085/e77db228-445c-11e6-9184-dcf7f03a678f.png">

There's all the source files, android and linux/unix makefiles, xcode and vs2015 projects.

For the Editor side of things, the plugins are more depende

[2016-07-09 03:38] Simon-L opened #102 "Incomplete C11 support in GCC 4.8 breaks compiling C version"
Hi,

As per this bug, GCC 4.8 (most recent version available on the still very common Ubuntu 14.04) doesn't provide `stdatomic.h`: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58016
Which results in this error:
[code]
Can you suggest a workaround for this?

**Notes:**
* There's yet another issue in 4.8 before that one, `__has_include()` isn't available as preprocessor macro and has to be wrapped i

[2016-07-11 08:34] mhroth commented on #102
Hi @Simon-L, thank you for such a complete bug report!

A fast workaround to your issue is to edit [HvUtils.h](https://github.com/enzienaudio/heavy/blob/master/src/HvUtils.h#L274) to define atomics as:

[code]

If you have more than one thread sending messages into any heavy context then this method may not be entirely reliable, but it is the easiest workaround. If you have only one thread sending

[2016-07-11 08:43] mhroth commented on #101
@jrdooley Are you looking for a 32 or 64-bit build for VSTs? Both? We'd compile on Ubuntu 14, does that work for you?

[2016-07-11 09:08] jrdooley commented on #101
@mhroth : 64-bit on Ubuntu 14 works for me. My current systems are both 64-bit--Ubuntu 14 and Linux Mint 18(Ubuntu 16)--and I'd be using the VSTs with Bitwig (only works on 64-bit systems, though does support 32-bit VSTs) and possibly Ardour.

[2016-07-11 20:30] #1 closed

[2016-07-11 20:30] #3 closed

[2016-07-12 21:43] mhroth commented on #102
@Simon-L if you replace the Atomic section in [HvUtils.h](https://github.com/enzienaudio/heavy/blob/master/src/HvUtils.h#L258) with the following, does your system compile the heavy code?

[code]

[2016-07-14 13:28] jayrope opened #105 "Support [switch~]?"
Is there plans to support [switch~]and if so, when?

PD Vanilla lacks opportunities to route audio, switch~ would definately help this.

[2016-07-14 17:04] jayrope opened #106 "hv_line~ - question about timing"
I have  question about hv_line~: Is the abstraction provided here capable of sample exact timing? Usually, when i put in a value into vline in PD the default timing is in milliseconds. I wonder which default we have here, and how to achieve to work with a line or vline object either sample exact or at least down to block boundaries.

Thank you for any insight.

[2016-07-14 17:18] jayrope commented on #10
How can we go replacing sthg. like [expr $f1*1000/$f2] ?

[2016-07-14 17:22] diplojocus commented on #10
[code]

[2016-07-14 17:25] diplojocus commented on #10
That Pd ASCII Art took way too long to do! :)

[2016-07-14 17:36] diplojocus commented on #106
@jayrope are you talking about the `hv_vline~.pd` abstraction from here: https://github.com/enzienaudio/heavylib/blob/master/hv_vline%7E.pd

This internally uses the heavy SignalLine implementation found here: https://github.com/enzienaudio/heavy/blob/master/src/SignalLine.h#L70

One thing to bear in mind is that all messages in heavy are quantised to the minimum block size. This will be either 1,

[2016-07-14 17:38] diplojocus commented on #105
There's no plans right now to support [switch~], maybe you could describe your use case a bit more?

[2016-07-14 18:11] jayrope commented on #105
I'd use switch~ to direct audio streams to different parts of a patch.
Vanilla just doesn't have a proper audio routing object.
I could put a lot of [*~1] on split audio streams to let through only the ones, which are supposed to be processed and audible.
Nevertheless i was also hoping to simply minimize the load of subsequent processing (means shut off inaudible parts of a patch, maybe similar to

[2016-07-14 18:18] jayrope commented on #106
Okay, that teaches me something.
I used [https://raw.githubusercontent.com/enzienaudio/heavylib/master/hv_vline~.pd](https://raw.githubusercontent.com/enzienaudio/heavylib/master/hv_vline~.pd)

• If i do [hv_vline~ 1] or feed a ramp with this timing value in into it - does this timing actually perform as one sample instead of one millisecond?

In terms of block size in PD i can only go down to som

[2016-07-14 18:21] jayrope commented on #10
Positively kills me. Thanx a bunch, Joe! (But really, if we had expr we could do this much more simple...)

[2016-07-14 18:31] diplojocus commented on #106
No, it still takes ms, but you can calculate the sample timing by taking into account the sampling frequency.
`numSamplesInMs = numSamples * 1000 / sampleRate`

I can't remember off the top of my head if OWL supports NEON instructions but if it does it'll be running with an internal block size of 4 samples, otherwise it'll be 1.

Obviously you'll be limited by how much processing you can do in tha

[2016-07-14 18:34] jayrope commented on #106
`No, it still takes ms, but you can calculate the sample timing by taking into account the sampling frequency.
numSamplesInMs = numSamples * 1000 / sampleRate`

So i can feed fractions of 1 instead to go down to sample level, like [1/44.1] or so?

[2016-07-14 18:57] diplojocus commented on #106
Sure

[2016-07-14 22:03] jayrope commented on #106
Perfect, and thank you a lot for the insight, Joe.

[2016-07-14 22:08] jayrope commented on #105
i rewrote, what i posted right above. I guess i wasn't making sense?

[2016-07-15 10:54] mhroth commented on #68
@woldhek A link is now available on the site. This issue is closed!

[2016-07-15 10:54] #68 closed

[2016-07-15 15:02] jayrope commented on #105
Another use case: Turn off DSP for sub patches.

[2016-07-15 18:37] diplojocus commented on #105
@jayrope makes total sense, I don't think we'd be supporting [switch~] any time soon though.

What framework/platform are you embedding the heavy contexts in?

One way around this would be to create individual patches for the parts you want to switch off at runtime, and in code manipulating the processing of them.

[2016-07-18 10:44] jayrope commented on #105
I'm working from PD for the OWL pedal. As neither [block~] nor [switch~] are supported i can't really switch off unnecessary DSP.

[2016-07-18 23:27] mhroth commented on #101
@jrdooley Does this file work for you? You may need to rename the file to `libheavy.so`, I'm not sure what filename your DAW will look for. [heavy.so.zip](https://github.com/enzienaudio/heavy/files/370343/heavy.so.zip)

[2016-07-19 19:51] ylevtov opened #107 "Arrays over 999,999 samples in length throwing errors"
`_main.pd in "subpatch/_main.pd" @ (x:0, y:22): invalid literal for int() with base 10: '1e+06'`

![screenshot 2016-07-19 20 50 41](https://cloud.githubusercontent.com/assets/294772/16964285/7cfec492-4df2-11e6-9176-92e9681fc489.png)

[2016-07-20 09:03] mhroth commented on #107
@ylevtov This issue has now been fixed and pushed to the `dev` channel.

In the future, I **strongly** recommend that you avoid using Pd arrays in favor of tables unless you specifically want to store data in the patch. In other words, when we find `array` we have to store _all_ of your values in the patch. With `table` we only have to store the number of values. The latter is a _lot_ easier on us

[2016-07-20 09:03] #107 closed

[2016-07-20 10:50] ylevtov commented on #107
Great - thanks! Yes, my use of arrays was left over from when I was storing sample data in the patch. Now that we’re no longer doing that I can go back to using tables.

[2016-07-20 11:12] mhroth commented on #107
I did also update the table parser, so you're more than welcome to create tables with sizes larger than `1e6` now as well ;)

...@ylevtov, always pushing those boundaries...

[2016-07-20 16:14] ylevtov opened #108 "Multiple [delwrite]'s with same name in a patch breaks compiler rather than throwing an error"
Granted it's not allowed in Pd, so kind of fair enough...

[2016-07-21 15:58] ylevtov opened #109 "Inconsistent [tabwrite] behaviour across JS and Unity builds"
Test patch:
https://enzienaudio.com/h/yuli/test/o6L4c

![screenshot 2016-07-21 16 55 17](https://cloud.githubusercontent.com/assets/294772/17029646/f0276858-4f63-11e6-9576-b8cef4aecc12.png)

This works perfectly on JS, but when running via Unity on OS X, the `[tabwrite~]` doesn't seem to do anything. The table never gets overwritten.

[2016-07-21 15:59] mhroth commented on #109
Thanks @ylevtov. Would you please make the original patch available to us for testing?

[2016-07-21 19:19] mhroth commented on #109
A short-term solution would be to use the message `[start 0<`. A better solution will follow.

[2016-07-21 20:20] mhroth commented on #109
This issue has now been fixed in the `dev` channel.

[2016-07-21 20:20] #109 closed

[2016-07-22 11:04] mhroth commented on #102
I'm going to close this issue now because to the best of my knowledge it is fixed.

[2016-07-22 11:04] #102 closed

[2016-07-22 11:05] mhroth commented on #101
A `Makefile` has been added to the vst2 generated files (in the `unix` directory). It the build product remains untested and therefore will not be exposed on the website. But the file is there in case anyone wants to try it out.

[2016-07-22 16:57] jrdooley commented on #101
@mhroth: I've test the compiled VST you attached above and it works without any problems; I didn't even have to rename it as you suggested.

I've just created a new project on my Heavy user area and downloaded the source code, though I can't find a directory name `unix`. How do I access the `Makefile`?

[2016-07-22 18:56] pingdynasty commented on #100
So `notein` is working: I send a message with 5 floats to hash `0x67E37CA3` and it comes through: beautiful!

And I see that `ctlin` is listed in the supported objects.

What about the other inputs, are they functional?

And how about outputs - can we have `noteout` too, please!
It would simply have to deliver a message to the sendHook.

[2016-07-22 18:59] mhroth commented on #100
`ctlin` works the same as `notein`, i.e.:

[code]

[2016-07-22 19:21] pingdynasty commented on #100
ooh there's a VARARG version of message scheduling? nice!

[2016-07-22 19:23] diplojocus commented on #100
:)

[2016-07-22 21:00] mhroth commented on #101
Thanks for testing @jrdooley! So, can you confirm that the name of the unix VST should be e.g. `heavy.so` and _not_ `libheavy.so`. Does it matter?

This functionality is currently in the `dev` release, which you can access using the [uploader script](https://enzienaudio.com/docs/index.html#3.uploader) and supplying the `--gen vst2` and `--release dev` flags.

[2016-07-23 08:43] jrdooley commented on #101
To confirm, both `heavy.so` and `libheavy.so` work--the name of the file doesn't appear to matter. This has been tested in Bitwig Studio.

I'm struggling to get the uploader script to work. I run the script with the following arguments and get the following error:
`formuls@formuls-mint ~/Desktop $ python2 uploader.py /home/formuls/Desktop/basic/ --out /home/formuls/Desktop/compiled/ --name basic -

[2016-07-24 20:34] mhroth commented on #101
@jrdooley I've updated the uploader script. Try downloading the [newest version](https://enzienaudio.com/static/uploader.py) and giving it another try. Your command line is correct, the `-b` argument isn't particularly needed.

[2016-07-24 21:23] jrdooley commented on #101
@mhroth The script successfully uploads a Pd patch and downloads source files, including VS2015 and XCode files. However, there is no `Makefile`, nor is there a `unix` directory, so no Linux VSTs :-(

[2016-07-24 22:50] pingdynasty commented on #100
What about [midiout] et c?

[2016-07-25 00:36] ntrocado opened #110 "Iterate through elements of a list"
Since [list] is unsupported, is there another way? TIA

[2016-07-25 08:07] mhroth commented on #59
@woldhek any chance that you could retest on Nuendo? The VST implementation has changed a lont in the past many months.

[2016-07-26 17:08] mhroth commented on #74
We've changed this behavior now. If an argument is not defined it defaults to `0`, as you've suggested.

[2016-07-26 20:56] grrrr commented on #74
great, thanks!

[2016-07-26 20:56] #74 closed

[2016-07-28 06:32] tadashibashi opened #111 "Plug-in ID's are the same and are ignored in Wwise"
Hello,

I'm not too familiar with low level workings, so this may have an obvious solution on my part.
I just compiled and dropped my second Wwise Plug-in to the plugin folder, but upon opening Wwise it says that both the manufacturer ID and plug-in ID are the same for both of my plug-ins and then chooses to ignore one of them. I tried changing the plug-in ID in the XML file, but it caused that pl

[2016-07-28 10:29] diplojocus commented on #111
@tadashibashi this is definitely our fault, the wwise targets aren't being generated with unique IDs yet. We'll get on this asap.

In the meantime you can update it yourself by modifying the source code, I can provide pointers if you want to do that.

[2016-07-28 16:46] JackVerde opened #112 "Unity 3D panning?"
Maybe I'm doing something wrong but I don't seem to be getting any 3D panning in Unity. Distance rolloff works just fine. Am I supposed to do something inside the patch? (spatial blend is set to 3D)
Thanks

[2016-07-29 15:37] diplojocus commented on #112
@JackVerde yeah this is a strange one, I couldn't quite figure it out a while ago. Thanks for reminding me I'll ping the Unity team and again and see if I get some more info on what might be the cause :/

[2016-07-29 22:27] tadashibashi commented on #111
@diplojocus Great thank you!

I am not yet familiar with editing this kind of source code. Could you provide some pointers on how I could modify the plug-in ID?

[2016-08-01 14:04] jrdooley commented on #101
@mhroth : I noticed that this issue has been marked solved. However, when I upload a patch with the uploader script using the `--gen vst2` and `--release dev` flags, the resulting source code that is downloaded does not contain a `unix` directory nor a `Makefile`.

[2016-08-01 15:15] diplojocus commented on #112
@JackVerde turns out this is a bug in Unity, they've filed it but it's undetermined when it might get fixed :/

[2016-08-01 16:10] mhroth commented on #101
@jrdooley I'm sorry about that. Not sure what happened there, but _now_ it should be fixed.

[2016-08-01 16:36] jrdooley commented on #101
@mhroth : Wicked! Just successfully downloaded and compiled a Linux VST. Nice one!

[2016-08-02 18:39] Simon-L commented on #7
Looking at the objects list, it seems it is supported. Can you confirm [vcf~] is still working?

The following patch, as processed through Heavy, does not produce any sound: (tested the JS and C code)

[code]

[bp~] does work though.

[2016-08-03 10:12] diplojocus opened #113 "[vcf~] frequency inlet doesn't support control connections"
Quick fix for now is to put a [sig~] object just before connecting to the 2nd inlet of [vcf~].

[2016-08-03 10:13] diplojocus commented on #7
@Simon-L yeah this is a known issue, I've created a separate ticket here: https://github.com/enzienaudio/heavy/issues/113

[2016-08-03 12:30] ylevtov opened #114 "Parameter names above 15 characters in length causes Unity editor to crash on AudioPlugin import"
Apparently only on Windows

[2016-08-04 17:28] Simon-L commented on #100
I'm not sure I understand, are you talking about VST or C targets?
Do you mean that the context already has receivers for [notein] and [ctlin] by default?

I started working on OSC and MIDI wrappers for Linux that forward messages to the Heavy context, the former generates handlers for `@hv_params`'s, the latter generates code that opens an Alsa MIDI client and sends Midi messages (eg. from MIDI U

[2016-08-04 17:57] pingdynasty commented on #100
OWL target, so C.
I want to capture outgoing MIDI messages and send them out on our USB MIDI connection.

I would be very happy if this works in the reverse of `notein`, so that `noteout` sends a message that I can handle in the send hook.

Your 'bigger project' sounds much more ambitious. Does it cover outgoing (from the patch) messages?

[2016-08-04 18:31] Simon-L opened #115 "[unpack] doesn't comply with right-to-left outlet order"
Hi,
I've just noted an unexpected behaviour that breaks a patch.

[unpack] is normally expected to have its outlets send data in a right-to-left manner, just like [trigger], however it seems it goes from left to right. I thought this issue would have been noted before as this behaviour is idiomatic to Pd and as such is very frequently relied upon in patches.
Could it be audio thread timings or som

[2016-08-04 18:41] Simon-L commented on #115
The issue was actually on my end.
Sorry for increasing the issues number for no reason :)

Closing.

[2016-08-04 18:41] #115 closed

[2016-08-04 22:57] diplojocus commented on #100
@Simon-L literally how this works is that we have a pd patch for the [notein] implementation that looks like this:

[code]

It specifies a receiver called `[r __hv_notein]` and unpacks the expected MIDI data (converted to floats) to the corresponding outlets.

In the [VST target source code](https://enzienaudio.com/h/diplojocus/sine/TPW5A/vst2/src/archive.zip), HeavyVST2_{{patch}}.cpp : line 80 (p

[2016-08-05 00:13] Simon-L commented on #100
@diplojocus Thanks for the explanation!
Funnily my code does something very similar. I have also made an implementation of [notein] as an additionnal patch with a [receive] object that I add along with the patch just before uploading.
In my case it is wrapped inside basic Alsa MIDI code, I've started from this example code I have found: http://alsamodular.sourceforge.net/seqdemo.c Then I can simpl

[2016-08-05 09:52] mhroth commented on #100
@Simon-L That is exactly how we would implement `noteout`, etc. The send hook is the one (and only) way out of the patch. Just remember that the send hook is called on the audio thread, so take care not to do anything too time intensive!

[2016-08-05 10:28] pingdynasty commented on #100
I can see how to do `[s __hv_noteout]` myself but it's not very tidy. Is there some way I can wrap it up in a `[noteout]` object so that the interface is consistent with vanilla Pd? Examples anywhere?
@diplojocus is your `[notein]` implementation public? I can find no reference to it in the repo.
I'm happy to contribute implementations in C or Pd.

[2016-08-05 10:30] mhroth commented on #100
@pingdynasty below is our Pd implementation of `notein`:

[code]

[2016-08-05 10:38] diplojocus commented on #100
@pingdynasty unfortunately it's not, would it work if we just said there are predefined receivers and sendhooks that you can latch into if a user instantiates the correct objects?

so you can use hv_vscheduleMessageForReceiver() for the following omni MIDI inputs:

[code]

and look for the following sendhook symbols for these MIDI outputs:

[code]

I think the reason I haven't looked into it furth

[2016-08-05 10:40] diplojocus commented on #100
Hmmm we could even add `@hv_param` to the receiver objects so it'll show up in the enum definition.

[2016-08-05 10:47] pingdynasty commented on #100
@mhroth thanks
@diplojocus do you mean to say that `[noteout]` et al are implemented? I get `Don't know how to parse object "noteout". Is it an object supported by Heavy?`
Is there some obvious Pd thing I'm missing here? Sorry for being clueless!
(can I just drop a `noteout.pd` file into the bundle?)

[2016-08-05 11:01] diplojocus commented on #100
Yes exactly!

Sorry it's not as straightforward as the other objects as we're talking about special MIDI I/O functionality and the patch context doesn't contain any MIDI parsing abilities, so all we're doing is creating specific channels in which MIDI data can be passed around. It's up to the platform, say on the OWL to actually convert it to/from MIDI.

This would be our [noteout] implementation,

[2016-08-05 11:05] pingdynasty commented on #100
I'm a dufus! I didn't realise it's so easy to add functionality.
I created this `noteout.pd`

[code]

it works fine - yours looks better though!

[2016-08-05 11:06] pingdynasty commented on #100
What happens when you decide to provide your own `[noteout]` if I already have a `noteout.pd`?

[2016-08-05 11:07] mhroth commented on #100
The compiler would use yours.

[2016-08-05 11:08] diplojocus commented on #100
Yeah, we always search for local patches first so you can override any functionality really. For example you can implement your own [osc~] version and use that instead.

[2016-08-05 11:09] diplojocus commented on #100
Also, you don't need the `@hv_param` descriptor for send objects, it won't do anything.

To be honest I'll just push this implementation anyway so you don't need to supply your own [noteout].

[2016-08-05 11:11] pingdynasty commented on #100
sweet!

[2016-08-05 21:23] Simon-L commented on #100
I got a bit confused by the overriding capability, I finally found out by trying several things. I first tried in standard PureData that doesn't not allow overriding default objects by default. I then used [declare] but indeed in the end I realised it just works by putting the patch in the folder.

Again, if all this is done transparently, that's great!

[2016-08-06 18:09] nuromantix opened #116 "Sedcure Connection Failed error"
Using Firefox, every time I try to compile something I get:

Secure Connection Failed

The connection to the server was reset while the page was loading.

    The page you are trying to view cannot be shown because the authenticity of the received data could not be verified.
    Please contact the web site owners to inform them of this problem.

[2016-08-06 18:20] ronherrema opened #117 "iOS error: undefined symbols for architecture arm64"
I've been trying to set up the C code from one of my patches in Xcode 7 and run it on my 64 bit Mini iPad. I get the following errors:

![screen shot 2016-08-06 at 19 10 49](https://cloud.githubusercontent.com/assets/3489924/17458505/60ee6cb4-5c0a-11e6-9dd1-256866253903.png)

Can you tell me what might be going on?

A related request: It would be great if there was an iOS example project we could

[2016-08-06 18:41] AaronMeyers commented on #112
@diplojocus can you post a link to the Unity issue tracker page so we can vote for it?

[2016-08-06 19:40] diplojocus commented on #112
https://fogbugz.unity3d.com/default.asp?819377_4tr2tfssru4ae9hr

Is this the right thing?

[2016-08-06 19:42] AaronMeyers commented on #112
i don't think so... over on this site https://issuetracker.unity3d.com/ you can vote on bugs, which presumably could help impact the priorities...

[2016-08-06 20:52] AaronMeyers commented on #112
@diplojocus i found this one but it says its a duplicate, but i couldn't find the one its a duplicate of :/

https://issuetracker.unity3d.com/issues/onaudiofilterread-doesnt-do-panning-when-used-as-a-generator

[2016-08-06 21:22] AaronMeyers commented on #112
I just discovered that panning works fine if I set the project to use the Oculus spatializer (now included with Unity) and tick the 'spatialize' box on the audio source. So until the bug is addressed, this might be a workable fallback solution.

[2016-08-07 13:08] mhroth commented on #117
@ronherrema Are you sure that you're including all files in the compile process? Seems like potentially `HvContext_drones_enzien.c` is not included?

About the Xcode example project. That sounds reasonable. What would you want it to do?

[2016-08-07 13:09] mhroth commented on #116
@nuromantix Are you still getting this issue now? Which version of Firefox are you using? There haven't been any changes to the web server recently.

[2016-08-07 13:16] chrissie-c opened #118 "[change] generates a warning"
Any use of the [change] object in a patch generates a warning during compilation:

"Warning: [route bang set] in "_main.pd/change.pd" @ (x:22, y:48): Heavy interprets route arguments such as "bang", "list", "float", and "symbol" literally. They cannot be used to filter generic messages as in Pd."

Which might or might nor be true, but seems a confusing thing to see when using what (on the face of

[2016-08-07 19:04] nuromantix commented on #116
hi. i'm using 48.0

This is the first time I've used your service so perhaps I am doing something else wrong? Any ideas appreciated.

[2016-08-07 20:24] seanfwilson opened #119 "Wwise plugin downloads not working"
PD compiles with no warnings, no errors.

Other downloads work, just not any Wwise related ones.

I get:
_"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."_

Plugin here:
https://enzienaudio.com/h/seanfwilson/DelayPrototype/

[2016-08-07 20:25] mhroth commented on #116
Are you sure that you are going to `https://enzienaudio.com/`? Also, _where_ geographically are you accessing the site from? Could here be some entity in the middle intercepting the packets?

[2016-08-07 20:31] diplojocus commented on #116
@nuromantix have you tried some of the suggestions found here? https://support.mozilla.org/en-US/questions/937921

Clearing the firefox cache or checking if that it's not being intercepted by some firewall program.

[2016-08-07 20:56] nuromantix commented on #116
ah no..... it worked once. now it doesn't work again.
hmmm..........
I am at home on a private internet connection, can't imagine why
anyone would be messing with it.

On 8/7/16, Joe White notifications@github.com wrote:

[2016-08-07 21:02] nuromantix commented on #116
Even more weirdly, it works OK every time with one PD file (lots of compile errors because I have non-vanilla objects but it still loads the page)..... but no other PD files of mine work. I get the same message about "connection to the server was reset".

[2016-08-07 21:05] nuromantix commented on #116
Is there perhaps a maximum file size that I am exceeding? I have some pretty big PD files.
Small ones seem to work OK.

[2016-08-07 21:08] mhroth commented on #116
There is a maximum upload size of 1MB.

[2016-08-08 06:02] nuromantix commented on #116
Ah that'll be the problem.
Thanks.
Any plans to increase it?

On 8/7/16, Martin Roth notifications@github.com wrote:

[2016-08-08 07:23] mhroth commented on #116
Not at this time (but who knows what will happen in the future). How are you uploading your patch? You can manually zip the patch to make it smaller and the website will also accept it (be sure to call you patch `_main.pd` though), or you can use the [uploader script](https://enzienaudio.com/docs/index.html#3.uploader), which does the same thing but automatically.

Is your patch so big because you

[2016-08-08 07:24] nuromantix commented on #116
My PD patches are to do with sampling and contain large arrays that make the files very big.
Can you suggest a way round this? Thanks!

[2016-08-08 07:51] nuromantix commented on #116
Yes it's because of samples.
Perhaps if I start with empty arrays then it will ZIP up pretty small.
Thanks again.

On 8/8/16, Martin Roth notifications@github.com wrote:

[2016-08-08 07:53] mhroth commented on #116
That's definitely the way to go. What is your application? Are you putting the heavy code into some kind of an app? Depending on your goals, it might help as well to rely on heavy to do your signal processing, but put application logic outside of the patch.

[2016-08-08 08:44] nuromantix commented on #116
It's a sampler that will run on Bela / Beagle Bone Black.
I am 100% new to programming anything apart from PD, which I am pretty good at.
So as far as possible I want to stay in PD because just to get the
basics of anything else will take me a couple of weeks.

My patch works great on a laptop so the remaining steps are:

get it small enough to compile with Heavy

find workarounds for the unsuppor

[2016-08-08 09:08] ronherrema commented on #117
You're right - I had not copied all the files over correctly. It now compiles, but no sound :-/ (I mentioned to Joe in an email that I had tried the javascript version - which runs fine in a browser - within an iOS WebView and that I also had no sound in that case.)

The example project could be a swiss army knife version, including file playback, mic input, and real-time synthesis with interactiv

[2016-08-08 09:12] mhroth commented on #117
So no sound at all on iOS? Presumably Core Audio is correctly configured? What's the enzien link for the patch? I can take a look.

[2016-08-08 09:18] ronherrema commented on #117
No, no sound. What would 'correctly configured' include? I've just tried adding the CoreAudio and CoreAudioKit frameworks, but that makes no difference.

[2016-08-08 09:20] diplojocus commented on #117
@ronherrema can you paste your code in a gist or try uploading the project?

Generally with CoreAudio there's a bit of boilerplate to set up in order to interface with the audio drivers.

[2016-08-08 09:21] mhroth commented on #117
Ahh! Heavy only implements the signal processing, it doesn't manage the audio loop or anything like that. You'd have to set that up yourself using any number of frameworks like [Superpowered](http://superpowered.com/) or [JUCE](https://www.juce.com/), etc.

Either way, I'll look into getting an iOS demo app to you.

[2016-08-08 09:27] ronherrema commented on #117
OK - great. The link, by the way, is this:

https://enzienaudio.com/h/ronherrema/drones_enzien/

Joe - I've sent you the javascript project in an email, and I'll send this one over as well.

Thanks

[2016-08-08 09:35] diplojocus commented on #119
@seanfwilson sorry about this, currently our Wwise plugins don't support the [adc~] object as we're generating source plugins at the moment. FX plugins on the TODO!

Thanks for finding that bug, in the next release it should trigger an error when this happens.

[2016-08-08 09:55] seanfwilson commented on #119
Ah I see. Thanks for the quick reply!

Perhaps a little note near the head of the Wwise documentation could be useful for the moment too?
I noticed it's reference to source plugins, but was unsure if this was just for example purposes.

[2016-08-08 09:56] diplojocus commented on #119
Yeah you're right apologies! It's coming soon anyway!

[2016-08-08 13:22] diplojocus commented on #118
@chrissie-c yeah you're right, we should probably tone down the warnings here!

[2016-08-10 02:00] diplojocus commented on #112
Thanks for the tip @AaronMeyers !

[2016-08-10 17:16] diplojocus opened #120 "[tabread] outputting 0's in javascript"
Potentially also affecting Unity builds?

[2016-08-10 17:17] diplojocus commented on #120
Example patch here: https://enzienaudio.com/h/diplojocus/arrayTest/

[2016-08-10 18:00] mhroth commented on #120
[code]

[2016-08-12 17:46] owenhindley opened #121 "[hv_table_resize] might not be working correctly"
In our PD patch, we have a table with an explicit length of 604800, which we're using for a looping sample. These lengths are set to accommodate the sample at 44.1Khz = 604800 samples.

When our project is running on a platform at 48Khz, we're loading in an upsampled sample which when played sounds correct, but is longer at 658000 samples, and the loop gets truncated at the end.

Shouldn't hv_tabl

[2016-08-12 17:47] owenhindley commented on #121
as a side note, when we resize the table to 658000 samples, we get correct looping :)

[2016-08-12 17:48] mhroth commented on #121
Is this in unity?

[2016-08-12 17:50] owenhindley commented on #121
Sorry, yes - Unity / Android + OSX.

[2016-08-12 17:51] mhroth commented on #121
Are you calling `FillTableWithMonoAudioClip`?

[2016-08-12 17:53] owenhindley commented on #121
`FillTableWithFloatBuffer` - which I can see has a call to `hv_table_resize`

[2016-08-12 17:54] mhroth commented on #121
And how are you looping in your patch? Is it with `[tabplay~]`? Or some other mechanism?

[2016-08-12 17:57] owenhindley commented on #121
@ylevtov wrote the patch, but it's played back via `s_playtable2`. Looping's handled via a bang every 8 bars (or so) which comes from a central timebase.

[2016-08-12 18:01] mhroth commented on #121
There is an known issue where certain objects don't update their knowledge of the table's length when `hv_resize_table` is called. Potentially you're running into this issue, and not that the function itself doesn't work. Ideally we could get some feedback from @ylevtov about his implementation and see about fixing the issue if possible.

[2016-08-12 20:45] diplojocus commented on #121
@mhroth is correct, the table is updated, but the tabread isn't.

@owenhindley directly after your call to `FillTableWithFloatBuffer`, I suggest you send in a message to a receiver to set the `s_playtable2` playback length manually.

[2016-08-15 12:48] Playrok opened #122 "Wwise: A maximum of two parameters are only ever shown in the plugin preview area"
Hello,
I am having a weird issue with specifically Wwise plugins. As you can see from the picture attached, there are three parameters however only 2 are visible for any changes. This happens with other plugins as well. I have exported this as a unity plugin and all of the parameters are available to modify. Would you be able to help me with this? i have also attached the PD script below

Thanks!

[2016-08-25 16:12] travisfoo opened #123 "weird error when compiling (<type 'exceptions.KeyError'>) 'included'"
When I try to compile my patch it get this error:
![image](https://cloud.githubusercontent.com/assets/3445524/17976842/31bfd790-6abd-11e6-852c-a67cc760e4ae.png)

[2016-08-25 16:13] diplojocus commented on #123
@travisfoo can you attach the patch you're compiling with?

[2016-08-25 16:14] travisfoo commented on #123
[Shapesynth.zip](https://github.com/enzienaudio/heavy/files/437497/Shapesynth.zip)

[2016-08-25 16:28] diplojocus commented on #123
I'm trying to find it in your patch, but could it be somewhere there is an [outlet/~] that has two difference types of connections to it? i.e a signal and control connection?

[2016-08-25 16:56] travisfoo commented on #123
I'm pretty sure there's not. I just ran through the patch to check.

[2016-09-01 15:20] MaxGi commented on #120
I can access my tabread but I only output the first index written to it with tabwrite. Is it an issue with both of them or just one? Feels like its the indexing on tabwrite that haunts me.

#N canvas 648 118 450 300 10;
#X obj 10 109 until;
#X obj 10 131 f;
#X obj 40 131 + 1;
#X obj 10 215 tabwrite test;
#X obj 309 50 table test 10;
#X obj 10 84 i 10;
#X obj 10 153 t b f;
#X obj 10 175 random 50;

[2016-09-07 04:41] diemildefreude opened #124 "Figuring out Unity Integration"
I have a somewhat complex PD patch that I want to integrate into Unity via Heavy. I've simplified it here while still leaving a lot of the objects required for the full version of the patch. I also thought the sample loader might be the problem, so I've detached the related abstraction, [gs], and replaced it with an [osc~]. If you unzip "osctest070916.zip" and open _main.pd with Pure Data, you'll

[2016-09-13 18:03] diplojocus opened #125 "'=' in parameter name causes Wwise plugin not to be loaded"
![unnamed](https://cloud.githubusercontent.com/assets/594588/18485459/cc9c431c-79e4-11e6-87d0-f8b8f2008cbd.png)

[2016-09-14 17:52] diemildefreude commented on #124
Update: I tried this with a super simple patch [osc~ 300]>[*0.1]>[dac~] and I still ge no sound.

[2016-09-14 17:55] diplojocus commented on #124
@diemildefreude hey sorry about the delay! I've been on my mac recently so not being able to correctly test your project.

That simple patch you got there should definitely work! Promise I'll take a look this week!

[2016-09-14 17:56] diplojocus commented on #124
Oh have you made sure that the LibWrapper plugin has the correct platform settings enabled in Unity?

It should look like this:

<img width="234" alt="screen shot 2016-09-14 at 18 56 16" src="https://cloud.githubusercontent.com/assets/594588/18523620/f12df07c-7aac-11e6-812d-ad7bb726e527.png">

[2016-09-15 03:34] diemildefreude commented on #124
Hey Joe,
Thanks for the answer. It looks like those settings are fine (see below). Unity's audio playback is working... if I deactivate the Wrapper and set an audio file to "play on awake", I hear it just fine...

![simple1](https://cloud.githubusercontent.com/assets/16056630/18537405/33e0f390-7b40-11e6-9d40-70c1a82445ca.png)
![simple2](https://cloud.githubusercontent.com/assets/16056630/18537409/

[2016-09-15 03:39] diemildefreude commented on #124
[simple.zip](https://github.com/enzienaudio/heavy/files/473809/simple.zip)

The super simple patch is in there. I assume I don't nead to [loadbang]>[; pd dsp1;{ for Heavy...

[2016-09-15 16:46] diemildefreude commented on #124
Ah, and the previews in the Heavy Uploader don't produce any sound either....

[2016-09-15 21:31] diplojocus commented on #124
hi @diemildefreude I just uploaded that simple.zip file to my own area and it seems to work for me: https://enzienaudio.com/h/diplojocus/sine/

I also created a test project in Unity 5.4.0f3, imported the Unity build of the simple osc patch, created a empty gameobject and attached the libwrapper script, on pressing play I got sound as expected, I'm not entirely sure what's going wrong for you.

Ca

[2016-09-15 22:18] diplojocus commented on #124
hey @diemildefreude, ok so the first thing I noticed is the rhythm abstraction's metro was dependent on a toggle box that initialises itself on patch load in Pd, which I think is a recent feature added right? Anyway I wasn't aware of it before.

This isn't something that we support in heavy. Essentially what happens with toggle and number boxes is they are turned in `[f ]` objects (I think the tog

[2016-09-15 22:51] diplojocus commented on #124
Ok so I found some other GUI objects, like sliders and radio boxes in your patch that are relying on being initialised on load, and I think this is in turn causing the patch not to make any sound when playing in heavy. I think it would be worth going through your patches and [loadbang]'ing everything so that the default are definitely set in heavy.

I would also suggest, if you can, to go through

[2016-09-16 03:28] diemildefreude commented on #124
Ah, sorry about that. I didn't have Play on Awake checked. The simple patch works now. Oddly though, the "sine" preview still doesn't make any sound. I wonder if I need to update Java or something...

The toggles, radio boxes, etc. are mostly not self-initializing, but are all inititialized by a single loadbang>[message( in the [pd setup] patch above the "rhythms" abstraction (see below). This is

[2016-09-16 05:05] diemildefreude commented on #124
OK, I removed all the abstractions and added in just the panner. Indeed, using a single message to send out commands to multiple receive objects seems to not work in Heavy. They seem to each need their own [loadbang](see below). When played in Unity, I hear the sine wave, but no panning effect. Is this because Unity's own spatialization effects supersede those of Heavy/PD?

![panner](https://cloud

[2016-09-16 05:23] diemildefreude commented on #124
In any case, since it was half-working, I went ahead and tried re-adding the "dynamics" abstraction using individual loadbangs for everything. There are no errors, but also no sound in Unity:

[osctest160916c.zip](https://github.com/enzienaudio/heavy/files/476103/osctest160916c.zip)
https://enzienaudio.com/h/sep/osctest/

[2016-09-16 13:59] mhroth commented on #124
@diemildefreude You're right that remote messages don't (yet) work in Heavy.

Heavy will output a warning that looks like e.g. `[msg remote local] in "_main.pd/setup" @ (x:32, y:104): Message boxes don't yet support remote messages. These messages will be ignored.`

Basically, all of the messages in your screenshot won't be processed. If there a `;` in your message box, Heavy will ignore it.

[2016-09-16 14:18] diemildefreude commented on #124
Yes, I see that now. These warnings will likely explain why I'm not getting any sound from the last version I posted. I'll  comb through them and see if I find any hints. If I hit a wall there, I'll come crying to you again. Hahah...

[2016-09-16 14:21] mhroth commented on #124
We'll be here to give you a hug...

[2016-09-16 15:07] mhroth commented on #123
@travisfoo Hi Travis, FYI I'm working on this bug now. I can see the internal error that heavy is having and I'm working to resolve it. I'll let you know ASAP when I have something that you can act on. The issue is definitely on our end though.

[2016-09-17 12:03] diemildefreude commented on #124
Hey, I need a hug.

I've fixed some small things to get rid of warnings and removed most of the subpatches from the main patch, since these aren't needed to initiate the sound. There are only 5 warnings now: https://enzienaudio.com/h/sep/osctest/

2 for the remote messages: Though they're disconnected, I've left them in the patch to remind me what messages I need to send to other objects. For the

[2016-09-18 16:00] ronherrema opened #126 "hv_assert is failing with _HV_DELAY_MAX_MESSAGES - no delay object being used"
Within iOS, a crash was occurring as a result of my continuously sending bangs while dragging (using a method called touchMoved in OpenFrameworks). I solved the problem by sending a single bang only under certain conditions, but I'm curious about why I can send floats continuously but not bangs. The error message can be seen in the attached screen grab.

![heavycrash](https://cloud.githubuserconte

[2016-09-19 09:29] unriginal opened #127 "OSX Wwise won't generate soundbank because plugin does not have license."
Hello, I've just tried using a plugin from the Wwise export in OSX. It loads into the Wwise editor, and plays sounds from the plugin properly from inside the editor, but whenever I try to generate a soundbank I get an error saying "No license for 'wind' plug-in. Please contact sales@audiokinetic.com to obtain a license." (the plugin is called wind). I'm on OSX 10.11.3, Wwise version 2016.1.2.5863

[2016-09-19 10:53] diplojocus commented on #127
hi @unriginal could you send me a link to your plugin and I'll take a look

[2016-09-19 15:32] diplojocus commented on #127
You're correct this does happen, and doesn't seem to make a difference if I change the name slightly. Very strange. I'll try and find out what's going wrong.

[2016-09-19 20:08] unriginal commented on #127
Yes, the plugin link is here:
https://enzienaudio.com/h/unoriginal/wind/

I also changed the name in case wind was reserved by some other plugin, but yeah, same result.

[2016-09-19 23:20] travisfoo commented on #123
Thanks! Keep up the good work! :D

[2016-09-20 07:26] diemildefreude commented on #124
Yeah, just double-checked again. To summarize: Play on Awake is checked, the plug-ins' platform settings are correct, the patch plays in PD (sine wave with volume and panning changes), uploader only shows those 5 innocuous-seeming warnings: No sound in Unity upon pressing Play.

The only thing I could think to do next is start re-building my patch/abstractions from scratch to be simpler, and, whil

[2016-09-20 08:56] diplojocus commented on #111
Hi @tadashibashi in `r2016.08` we implemented a feature to generate the plugin id based on the patch name. This should fix the issue you were having.

[2016-09-20 09:08] diplojocus commented on #121
@owenhindley I'm mark this as solved, unless there's still some issue you're experiencing.

We've got a ticket to properly implement table resizing but for now the workaround is to mainly send the resize message into the patch.

[2016-09-20 11:01] diplojocus commented on #124
@diemildefreude ok i think I see where the issue is. There's various GUI objects (sliders, toggles, etc..) that use the send/receive symbol functionality, (i.e. accessed from right-click object > properties).

Just for purpose of avoiding further confusion, you can assume that any GUI object in your patch will be replaced with only a [f ] object. That is to say all the functionality of the GUI obj

[2016-09-20 17:29] diemildefreude commented on #124
Hey, thanks for your reply, Joe; it helped a lot. When you told me that before, I thought you were talking about the "save/init" option and I failed to think of the other implications of the toggles etc. being changed to floats. I've fixed it and it works with the [rhythms], [dynamics] and [panner] abstractions just fine. But when I introduce the [reverb] abstraction, it leads to Unity crashing.

[2016-09-20 17:39] diplojocus commented on #124
@diemildefreude nice one!

Ok so you're on Windows right? We literally just pushed a fix for a windows crash to the dev channel today that I'm totally guessing is probably also related to your issue (from a quick glance in your patches).

These changes will end up in the next release, but if you can't wait you can always use the python uploader script and choose to compile from the dev channel (cu

[2016-09-20 17:40] diplojocus commented on #124
Yeah sorry you can ignore that, it's not your fault!

[2016-09-20 18:08] diemildefreude commented on #124
Yes, I'm on Windows. In case you didn't see my EDIT in my last message: Do you think this fix will resolve the CPU spike?

When will the next release be? I'd like to do it with Python, but I actually wasn't able to figure out how to last time I tried, even with Martin's help:

I probably need to look up a tutorial on basic Python usage. But if the next release is coming soon, I might just focus on

[2016-09-20 18:10] diemildefreude commented on #124
![python3](https://cloud.githubusercontent.com/assets/16056630/18682874/e0f1ee6a-7fa8-11e6-8da9-4057d25eebb1.jpg)

[2016-09-21 09:56] diplojocus commented on #124
hi @diemildefreude the next release is planned for sometime next month.

I think I see where you might going wrong, firstly you're generally best running the cmd app in administrator mode. Right click the icon and you'll see the option.

Also with python, am I right in thinking that you double-clicked the python.exe app to run it? Because there are two ways to use it. If you double-click it (or ru

[2016-09-22 05:22] diemildefreude commented on #124
Alright, I did my best to do everything you said, @diplojocus ... After running as an Admin, making sure pip was up-to-date and using it to install requests, I receive new errors. (I still don't know what "sudo" means in the Heavy documentation, but pip seems to be installed anyway, so I guess it doesn't matter)

![python4](https://cloud.githubusercontent.com/assets/16056630/18737655/16ad450a-80cf

[2016-09-22 10:10] diplojocus commented on #124
nice one @diemildefreude!

I can see you're very close, it looks like the last bit is to make sure your uploader script is up to date (I think you've got an older version).

Replace your current uploader.py file with the contents of this page here: http://enzienaudio.com/static/uploader.py

[2016-09-22 10:39] diplojocus commented on #122
@Playrok sorry for the delay, yep you're right this happens. One workaround right now is that you can double click the plugin 'row' and it will show a dedicated window that contains all the parameters.

[2016-09-22 10:42] diplojocus commented on #122
![untitled](https://cloud.githubusercontent.com/assets/594588/18745310/9b972dd2-80b9-11e6-8321-39376d42e194.png)

[2016-09-22 10:45] diplojocus commented on #127
@unriginal is it possible for you to use Wwise version 2016.1.0.5775 until we figure this out? I'm able to generate soundbanks with the plugin correctly in that version.

[2016-09-22 11:55] diplojocus commented on #108
Would you be able to attach a patch that demonstrates this error?

[2016-09-22 18:40] diemildefreude commented on #124
Hey @diplojocus. It worked! Thanks for your patience.

Now comes the tricky part of integrating the granular synthesis module that uses a wav file. In part, it's tricky because I can't test and hear if it works in PD, as I need to load the .wav via Unity.

So a while ago you sent me a SampleLoader.cs file. I'm not sure if it's still up-to-date or how I'm supposed to use it in in conjunction with t

[2016-09-22 18:48] diemildefreude commented on #124
Oh, and as for the patch itself, I also don't know if it's set up right to receive the wav file into its array. If you open up [gs], you'll see near the upper right area a receive object for the table size (visible in Heavy, as seen in the screenshot above) and the table itself. If you need to compare it with the version of the abstraction that works in PD, I've attached that here. In this case, t

[2016-09-23 10:02] diplojocus commented on #127
hi @unriginal it looks like backwards compatibility with plug-ins in the latest version of Wwise has been broken, I've been told that the next release will fix it all and to wait for that. Alternatively 2016.1.0.5775 is confirmed to be working.

[2016-09-25 17:07] diemildefreude commented on #124
Hey, I checked to see if you'd added any documentation to your website about sample loading and you did! I updated the script according to what I found there, so the errors are gone:
![unity2](https://cloud.githubusercontent.com/assets/16056630/18816879/97a0705e-838d-11e6-91b1-91f651d9362a.jpg)

N.B. The table name is 7-buffer, because the [gs] abstraction has 7 as an argument in the main patch up

[2016-09-28 12:19] ylevtov opened #128 "Irrelevant (for the user) warning messages - hip~"
E.g.
`hip~.pd in "_main.pd/grains/hip~.pd" @ (x:105, y:500): [rzero~] accepts only signal input. Arguments and control connections are ignored.`

No 'hip.pd' subpatch present - only the actual `[hip~]` object

[2016-09-28 12:20] ylevtov opened #129 "Irrelevant (for the user) warning messages - change"
`[route bang set] in "_main.pd/timebase/change.pd" @ (x:22, y:48): Heavy interprets route arguments such as "bang", "list", "float", and "symbol" literally. They cannot be used to filter generic messages as in Pd.`

No 'change.pd' subpatch present in patch.

[2016-09-28 12:22] mhroth commented on #128
This can happen because `[rzero~]` is used internally in heavy's definition of `[hip~]`.

[2016-09-28 12:22] diplojocus commented on #128
@mhroth we should avoid these types of warnings on internal objects.

[2016-09-28 12:23] mhroth commented on #128
That can be discussed.

[2016-09-28 12:24] mhroth commented on #129
See https://github.com/enzienaudio/heavy/issues/128.

[2016-09-30 12:02] diplojocus commented on #120
On some more investigation it seems like [tabread] in javascript is only ever outputting the first element (regardless of input indices).

[2016-09-30 14:52] diplojocus commented on #120
My suspicion is that it could be related to version mismatch of emscripten on our server.

[2016-09-30 14:56] diplojocus commented on #120
@MaxGi thanks for your patch, yeah it's a good point. I think the issue could be potentially the tabread object does not get updated with the length of the table and so always applies a [max 0] to the input index which will result in only the first element being accessed.

[2016-10-08 09:53] ylevtov opened #130 "Add some way of specifying different types of GUI controls other than sliders for Unity/JS/Wwise etc."
How about either:
Slider: (default)
[code]
Toggle:
[code]
Bang:
[code]

Or:
Slider: (default)
[code]
Toggle:
[code]
Bang:
[code]

Just throwing some ideas out there...

[2016-10-08 10:07] diplojocus commented on #130
The way I would imagine we'd do it would be something like the following:

`[r trigger @hv_event]` (creates a click button interface and sends bangs to the patch)

`[r param_1 @hv_param float (/slider) min max default]` (creates a floating point slider)

`[r param_1 @hv_param int (/radio) min max default]` (creates a selection box (eventually named items?))

`[r param_1 @hv_param bool (/toggle) de

[2016-10-08 10:13] ylevtov commented on #130
Yeah that sounds good.

[2016-10-08 11:43] Simon-L commented on #130
I have kind of implemented/hacked this feature to make a layout generator for TouchOSC (TouchOSC is a smartphone app that allows you to design GUI interfaces with various input and interaction widgets that send OSC messages).

The way I've done it is similar to what @diplojocus suggested, the type of UI is separated from the limits and default value:
Vertical fader:

[code]

Toggle:

[code]

I con

[2016-10-08 11:51] ylevtov commented on #130
The fact that Pd toggles can output any value has always felt like more of a bug than a feature so, while it’s important for Heavy to maintain parity with Pd as much as possible, actively encouraging the use of this bug (i.e. by allowing toggles with values other than 0 or 1) doesn’t seem like a good idea to me...

[2016-10-08 11:52] diplojocus commented on #130
Ahh! That's crazy that you've implemented your own heavy descriptor for the types, nice one!

Looking forward I kinda only see this as a hack to be able to get Pd to distinguish between these types for us. In our own editor we'd have distinct objects that would automatically be able to expose themselves (hurr durr).

The main issue I've found with this approach is we started to creep into replicat

[2016-10-08 13:26] diplojocus commented on #122
@Playrok hey I've fixed this issue but have noticed there's some problem where wwise only allows a maximum width in the smaller plugin view. If you have more than 4 parameters then the rest will be cut off, but you can always view them in the larger window. I'm looking into what we can do about that.

[2016-10-08 13:26] diplojocus commented on #122
Note: this fix is currently in the dev channel and will likely be included in the next release.

[2016-10-08 13:28] diplojocus commented on #125
There's not a clear way to resolve this so the parameter names in the large window will be escaped. i.e. `=aparametername` will result in `_aparametername`

[2016-10-09 20:35] AndrelMedo opened #131 "Soundfiler not supported? alternative?"
How can i open an audio file without soundfiler? there is anything that can replace it?

[2016-10-09 22:24] mhroth commented on #131
HI @AndrelMedo. We don't support `soundfiler` because reading audio assets is inevitably a very platform- and framework-dependent operation. In general, you can load audio assets into tables and play them using a `tabread~` object. You can do it [like this](https://enzienaudio.com/docs/index.html#06.unity#accessing-audio-tables) in Unity. You can do the same thing using the [C API](https://enziena

[2016-10-14 14:48] mhroth commented on #17
Solved! As of release `r2016.10`. See the [C++ documentation](https://enzienaudio.com/docs/index.html#09.cpp).

[2016-10-15 02:54] giuliomoro opened #132 "Message sent before the first call to hv_***_process_inline is received after loadbang"
I would expect the opposite. Or at least I would expect a way to force the opposite.

[2016-10-15 02:56] giuliomoro opened #133 "Is the pointer returned by `hv_table_getBuffer()` guaranteed not to change over time?"
As in: can I just take it one and cache it locally or should I get it before every read/write operation?

[2016-10-15 03:14] giuliomoro opened #134 "right inlet of [select]"
Is it going to be supported anytime soon?

[2016-10-15 10:38] mhroth commented on #133
It is best practice to get the buffer every time you need it. However, if you can guarantee that the table has been been resized, either by you or by some process, _known or unknown_, in the patch, then the pointer will remain stable.

[2016-10-15 10:41] mhroth commented on #132
Loadbangs always come first. They are queued during the initialisation of the patch. There is no way to change this at the moment, unless you want to manually manage all of your startup messages.

[2016-10-15 10:43] mhroth commented on #134
No.

One day, maybe. But not "soon". A `select` is implemented implemented as a `switch-case` statement.

[2016-10-16 15:44] fr4nky8oy opened #135 "JS console errors"
Hi guys, I am new with heavy , sorry for the basic question:
My PD patch passes all checks on my account, but it does not play. I have checked the JS console in Chrome, it shows errors that i don't really understand. Could you please help? thanks https://enzienaudio.com/h/fr4nky8oy/VS/

[2016-10-16 17:56] fr4nky8oy commented on #135
just tried re-uploading this patch: https://enzienaudio.com/h/jarm/algo_test/

and get the same errors:

![screen shot 2016-10-16 at 18 55 13](https://cloud.githubusercontent.com/assets/12418391/19419568/2ebe34c2-93d2-11e6-81ce-3f62e96fdd0c.png)

[2016-10-17 08:35] MaxGi commented on #120
Nice! Heard that it might be a problem in Unity too. But I haven't tried it myself.

[2016-11-05 17:59] diplojocus opened #136 "Support initialised arguments to Pd [pack ] (i.e. pack [pack f 10])"
Right now, [pack f 10] resolves to [pack f f] so the `10` argument will be lost, can be a potentially confusing difference in functionality.

[2016-11-08 12:12] ylevtov opened #137 "Right inlet of [symbol] garbles stored value"
Simple test case:
https://enzienaudio.com/h/yuli/test/3WcDv/pd/test.pd.zip

[2016-11-22 16:27] owenhindley opened #138 "Longer timeouts on the server for builds"
When we have an enormous patch, it seems build times can exceed the http request timeout duration on the server.

We've added extra time to the client-side patch downloader script so I'm 99% sure it's on that end.

Could the server-side timeout duration be made a bit longer for mega-patches?

[2016-11-22 17:10] ylevtov opened #139 "Setting right inlet of [pipe] to a negative value sets the internal delay in [metro] to 0"
![screenshot 2016-11-22 17 04 14](https://cloud.githubusercontent.com/assets/294772/20533748/87e10090-b0d6-11e6-943b-9653f912eeb8.png)

https://enzienaudio.com/h/yuli/horizons_mpsf/P0WZa/

[2016-11-22 17:53] ylevtov opened #140 "Add a warning if patch has numbers at the beginning of any parameter names"
Pd won't complain, but it will cause Unity builds (among others?) to fail...

[2016-11-22 17:54] diplojocus opened #141 "Numbers at the start of a parameter name causes the build to fail"
Probably should strip it off, or convert it to something else :/

[2016-11-22 17:54] mhroth commented on #140
@ylevtov could you give an example (e.g. patch)?

[2016-11-22 17:54] diplojocus commented on #140
duplicate of https://github.com/enzienaudio/heavy/issues/141

[2016-11-22 17:54] #140 closed

[2016-11-23 11:22] mhroth commented on #137
This may not be solved soon, but in the meantime I can say that the "garbled" symbol value that you're seeing is in fact the hash of the string that you send in. I understand that this fact might not help you, but that's what going on.

[2016-11-23 11:46] mhroth commented on #141
Which build? Unity?

[2016-11-23 12:21] diplojocus commented on #141
Yes, but it's going to affect any target that creates a parameter name variable in the code

[2016-11-23 14:22] ylevtov opened #142 "[samphold~] does not accept message domain input in Heavy"
...but does in Pd.

[2016-11-24 00:09] P1ger commented on #99
Hi, I'm trying to use heavy in UE4 with WWise, at the moment I can run my patches without problems in WWise, but I can't get it to work inside UE4 (while other sounds triggered by the same event work). I think it has to do with the WwiseSourceEngine.lib and WWiseSourcePlugin.dll that I don't know where to put. Has anybody managed to do it? I am using Wwise 2016.2.0.5972.
Thank you

[2016-11-24 12:32] diplojocus commented on #99
Hi @P1ger my current understanding is that dynamic Wwise plugins in UE4 are not yet supported (unless this has changed recently?).

That means you need to use the WwiseSourceEngine.lib and .h file and compile that against the Wwise UE4 integration code, i.e. you can't use the package that AK provides and need to compile the source code yourself.

To do this it's best to have some C++ knowledge.

[2016-11-26 03:57] oddgoo opened #143 "3D Spatialized Audio not working"
This might be a Unity bug,

When trying to use Spatial Blend set to 1 (3D) on the AudioSource , everything still sounds as if it was not.
changing the Stereo panning and spread does nothing either. Does Sequencer.cs or OnAudioFilter read "Flatten" the signal ? or is this a Unity bug on 5.4.*?

Thank you!

[2016-11-28 13:45] diplojocus commented on #143
Actually I think I've found a reason for why the AudioSource settings are not affecting the filters generated by Heavy.

I think I'll need to update the wrapper to generate an AudioClip and use the PCM callback method to fill  the AudioSource data instead of OAFR. Then the spatial blend should work.

I'll get round to it at some point. Perhaps you can try it out and let me know?

[2016-11-29 01:45] oddgoo commented on #143
Thank you for your answer!

The reason I closed the issue was because I was actually posting this on a completely different unity audio repo, but I'm happy there is relevance here as well! Heavy looks like a great project. I would be happy to integrate and help you test.

[2016-11-30 12:27] ylevtov commented on #139
This can be closed, now, right?

[2016-11-30 12:27] mhroth commented on #139
Fixed! as of `r2016.11`.

[2016-11-30 12:27] #139 closed

[2016-11-30 14:53] diplojocus opened #144 "Pd Does and Don'ts"
Just starting a list of inconsistencies with Pd -> Heavy. While we try to create warnings/errors, some slip through or are trickier to check for right now.

Feel free to add any you find!

Unsupported Pd features:
---

[pack f 100] // in heavy this gets resolved to [pack f f], the initialised element is lost

[set $1( // setting the contents of another message won't work (and might cause some funk

[2016-11-30 15:04] ylevtov commented on #144
`[f 1]`
`|`
`[sig~]` // _No_ signal rate objects accept message rate input to their left inlets. (In Pd, some do, some don't)

[2016-11-30 15:09] mhroth commented on #144
@ylevtov amusingly, your post is somewhat misleading ;) The _very specific_ example that you have is supported in heavy. But you're right that in general we don't support this case, such as:
[code]

[2016-11-30 15:22] ylevtov commented on #144
Agreed! Shooting from the hip~, as it were.

[2016-12-05 11:20] ragnaringi opened #145 "int HeavyContextInterface::getParameterInfo(int index, HvParameterInfo *info) always returns 0"
The header documentation states:

However, the implementation always returns zero:

[code]

[2016-12-05 11:21] mhroth commented on #145
This issue is fixed in `r2016.11`.

[2016-12-05 11:34] #145 closed

[2016-12-05 15:25] owenhindley opened #146 "_hv_table_resize not defined in js target"
- I open up the provided html that comes with the downloaded patch
- create a new blank AudioBuffer object `bar`
- call `patch_instance.fillTableWithAudioBuffer(table_name, bar)`

and I get an `patchName_Lib.min.js:1 Uncaught ReferenceError: _hv_table_resize is not defined`

[2016-12-06 12:12] thefuntastic opened #147 "Print on win32 causing crash"
Seems there is something the way print messages are cleaning up on 32bit (win 10) causing an allocation crash.  Running the debugger I got this:

Run-Time Check Failure #0 - The value of ESP was not properly saved across a function call.  This is usually a result of calling a function declared with one calling convention with a function pointer declared with a different calling convention.

Debugg

[2016-12-06 12:14] diplojocus commented on #147
Which platform/target are you testing on @thefuntastic ?

[2016-12-06 12:15] thefuntastic commented on #147
Windows 10, x86 (32 bit). Unity 5.4.0

[2016-12-08 12:32] thefuntastic commented on #144
[~]  [set table(
||   /
[tabosc4~] //Another instance where shared signal and control messages aren't supported. Supposedly [tabread~] and  [tabread4~] so support this special case

[2016-12-08 13:10] diplojocus opened #148 "Update Pd [tabosc(4)~] to accept message arguments to the left inlet"

[2016-12-08 19:19] Latimark opened #149 "SendBangToReceiver definition not found - unity?"
Hi,
I'm just working on my first project in Unity and I've been looking up tutorials here and there. I was wondering under what circumstances it's possible to use the heavyscript.SendBangToReceiver("receivername"); ? Currently, I've set a float to change an osc frequency for an engine sound but since I forgot to add a t f b, the patch isn't updating the sound when the speed changes (despite the in

[2016-12-08 21:32] jayrope opened #150 "implement [makefilename]"
Is there plans or a chance to implement [makefilename] into the heavy compiler? Would simplify the use of dynamic objects responding in one control patch, like distributing voices in a synth etc.

Thanx for all you do.

[2016-12-08 21:36] diplojocus commented on #149
hi @Latimark which release are you testing with?

Have you looked at the `@hv_event` descriptor you can add to receivers for a bang interface to your patch? See these links for more info:

https://enzienaudio.com/docs/index.html#02.getting_started#exposing-events

https://enzienaudio.com/docs/index.html#05.unity#exposing-and-sending-events

[2016-12-08 22:05] Latimark commented on #149
damn ok thanks. can i expose events as well as parameters on the same inlet ?

[2016-12-09 11:12] diplojocus commented on #149
Hmmm interesting, I guess I purposely chose to create separate interfaces for these. With the current system I believe it will only let you have one (although I haven't tried).

You use `@hv_param` and add a `[t b]` to the receiver outlet to create bangs. You'll get a bang everytime the parameter changes.

[2016-12-09 11:12] diplojocus commented on #149
Out of curiosity what's your use case?

[2016-12-09 19:20] Latimark commented on #149
Hmm, what could be causing my patch to update a change in frequency only when i move the slider in the inspector with the mouse, but not when I change the parameter with a script? I've added t f b in my pd patch....it's for a typical engine sound script where i'm associating the speed of the player object to the frequency of an osc in a patch. I can share my code if you want, it's pretty basic.

[2016-12-09 19:27] Latimark commented on #149
ok i noticed some more strange behavior. the sound actually updates when the value reaches either the min or the max (to the min and max) but then nothing the rest of the  time.

[2016-12-09 21:48] Latimark commented on #149
hm it seems i was using script.param = float rather than the script.SetParamater(Hv_script_Lib.parameter, float) and it works properly when i switched. (i saw this in a youtube tutorial oO)

[2016-12-10 16:16] Latimark commented on #149
Hey alright so I have another question.
I've created a script that I want to attach to a game object and rely on unity's built in 3d settings. But, I want to have many instances of this script, which rely on separate 3d positions. And they're be running simultaneously and I'll be sending different values to them also simultaneously.
also, it needs to be cross platform.

My question is in regards t

[2016-12-12 09:56] diplojocus commented on #149
@Latimark the SetParameter and GetParameter methods are the recommended way to access and modify exposed parameters from the patch.

Every instance of the `Hv_*_AudioLib` gameObject can be represented by the same C# script. You don't need to copy/paste/rename. Just drag it onto another gameObject in your scene.

For cross-platform projects you can download the platform specific binaries i.e. win,

[2016-12-17 22:54] travisfoo commented on #123
Any updates on this issue? I tried compiling the same patch and now get this error: "1) [91mError:[0m __inlet {index:0 type:-~> name:} has multiple incident connections of differing type. The outlet type cannot be explicitly resolved."

[2016-12-17 23:08] mhroth commented on #123
Hi @travisfoo. That error happens when you have a signal and a control connection to the same inlet. Heavy _generally_ doesn't support that case i.e. it doesn't know how if it should run that object in the signal or control domain.

I took a look at the patch earlier in this thread, but couldn't find anything obviously wrong. I may have missed something though.

[2016-12-17 23:55] travisfoo commented on #123
Ok, thanks. So the internal error has been fixed?

[2016-12-17 23:56] mhroth commented on #123
I'm not really sure what the previous error was. The thing to do now if check the patch for some object that has both signal and control ingoing connections.

[2016-12-24 03:11] dbaxaudio opened #151 "> 1 Pipe outlets"
Using any outlet other than the left on a pipe, seems to cause compile errors

#N canvas 0 22 450 300 10;
#X obj 180 115 pipe 0 0 700;
#X floatatom 180 70 5 0 0 0 - - -, f 5;
#X floatatom 214 81 5 0 0 0 - - -, f 5;
#X floatatom 180 160 5 0 0 0 - - -, f 5;
#X floatatom 249 165 5 0 0 0 - - -, f 5;
#X connect 0 0 3 0;
#X connect 0 1 4 0;
#X connect 1 0 0 0;
#X connect 2 0 0 1;

[2016-12-24 09:52] mhroth commented on #151
Ahh. Our `[pipe]` definitely only supports the left outlet. Multiple outlets are _not_ supported. I'll update the docs right away.

[2016-12-29 19:05] jrdooley opened #152 "MIDI note off message retriggers note in Linux VST"
Using Pd's `notein` object to receive MIDI note messages seems to cause the above problem. The `notein` object is used to receive the note on and off message to trigger a velocity sensitive kick drum synth.

Sending a MIDI note on message from the DAW sequencer (this has been tried in Bitwig and Ardour) triggers the kick synth. When the sequencer sends the note off message it retriggers the kick s

[2016-12-30 17:46] jrdooley commented on #59
I am also having the same problem that parameters state is not saved when a project is reopened. I'm using Bitwig Studio on Linux.

[2016-12-30 20:02] mhroth commented on #59
@jrdooley do you have a link to your project. This is a super old issue, which I had thought to be solved. Does state saving work for other vst2 plugins in bitwig? Unfortunately I don't have a system to test against.

[2016-12-31 12:23] jrdooley commented on #59
@mhroth
[vstStateSaveTest.zip](https://github.com/enzienaudio/heavy/files/679611/vstStateSaveTest.zip)
Attached is a zip of the Bitwig project, including the VST Waveform.so, and the Pd patches used to create it. The settings of the plugin should be:
aFrequency  = .4
bRange = 11035
cWaveshape = 1

State saving does work for other VST2 plugins in Bitiwig--thankfully!

Interestingly, though, if I am

[2017-01-02 10:38] diplojocus commented on #146
This has been fixed in `2016.11`

[2017-01-02 10:39] #146 closed

[2017-01-02 10:39] #125 closed

[2017-01-03 18:17] andolph commented on #83
just been looking for either sigmind~ or fiddle~ too for a Bela project so I second (third?) this too

[2017-01-03 18:19] mhroth commented on #83
Unfortunately `sigmind~` or `fiddle~` (or `bob~`) are unlikely to happen soon.

[2017-01-03 22:59] mhroth commented on #152
Thanks for such a helpful bug report @jrdooley. Can you tell me if it works if you connect the left outlet of `notein` (instead of the middle)? If it does then I have a fix.

[2017-01-04 17:43] jrdooley commented on #152
@mhroth . When the left outlet is connected, I can trigger the kick, but I still get the "double hit" effect when the note releases and retriggers the kick sound.

[2017-01-04 17:46] mhroth commented on #152
Ok "super". Are you familiar with how to use the [uploader script](https://enzienaudio.com/docs/index.html#03.uploader#stable-releases)? I have a fix in the `dev` release.

As for the "double trigger" issue, could it be that your DAW is sending a non-zero velocity with the note-off MIDI command?

[2017-01-04 18:10] jrdooley commented on #152
Yes, I've used the uploader script before. Where can I download it? I think I deleted the copy on my hard drive when pre-built Linux VST binaries became available!

I was thinking the same thing about the DAW sending non-zero velocity messages. Unfortunately, I haven't been able to investigate this further yet,

[2017-01-04 18:12] diplojocus commented on #152
https://enzienaudio.com/static/uploader.py

[2017-01-04 18:12] mhroth commented on #152
You can download the uploader script [here](https://enzienaudio.com/static/uploader.py).

Currently we simply pass though whatever MIDI data the DAW sends us (in the case of note off). Potentially you could look at the right outlet of `notein` to check the command.

[2017-01-04 18:35] jrdooley commented on #152
I've fallen at the first hurdle! When I run the script with the following command:
`python2.7 uploader.py /home/formuls/Desktop/kick --out /home/formuls/Desktop --name fkick --gen vst2 --release dev`
I get the following error: `Unknown username or password`. However, I'm not prompted to enter my username or password.

[2017-01-04 18:41] mhroth commented on #152
Try passing the `-z` flag.

[2017-01-04 19:22] jrdooley commented on #152
`-z` flag works.

I'm still getting the double trigger. I've also tried this in Ardour, as well as Bitwig and the problem is the same. However, using the VST with another VST host it works without any problems. So the problem must lie in the DAW sending a none-zero velocity off message.

[2017-01-04 19:31] diplojocus commented on #152
@jrdooley are you using a MIDI controller that supports aftertouch by any chance? Or is this sequenced via Bitwig?

[2017-01-04 19:47] jrdooley commented on #152
@diplojocus  It's sequenced by Bitwig (and Ardour). Some further exploration has revealed that you can change the release-velocity of each note in Bitwig to zero, but this has to be done for every note entered into the sequencer. You don't seem to be able to globally switch off the release-velocity, which is rather annoying.

I'm guessing that I need to isolate the MIDI note-off command that comes

[2017-01-04 19:57] diplojocus commented on #152
It may be more legacy but some systems treat a note-on message with a velocity of 0 as a note off message. Which is what Pd does here, it doesn't distinguish between note on or off messages.

I'm sure not what a solution could be here without breaking compatibility with Pd's [notein].

If you're comfortable with editing the VST plugin source code, you could modify it to send your note off events t

[2017-01-04 21:21] jrdooley commented on #152
@diplojocus Well, I'm no c/c++ coder, but if it's something not too complex I'd be OK with it!

I've had a look at the **HeavyVst2_fkick.cpp** file and noticed that there is a function call `VstInt32 HeavyVst2_fkick::processEvents(VstEvents* events)` and a bit further on from that some `switch` and `case` statements with`note off` and `note on` comments. Would I be correct in thinking that that is

[2017-01-04 22:45] mhroth commented on #152
Yes, that's absolutely correct. You'll want something like:

[code]

[2017-01-05 15:14] jrdooley commented on #152
@mhroth : Super! That worked a treat :+1: Many thanks.

Is there anyway for me to upload the modified code to my project's page on the Heavy website so I can download pre-built Windows and Mac binaries? Can this be done with the uploader script somehow?

I have a feeling I'm asking for the moon on a stick now...!

[2017-01-11 17:36] HerrGustav opened #153 "Multiple Instances of a Patch in Unity"
Hey,

I'm not sure if I found an issue or if I'm just thinking the whole concept the wrong way:

Is it possible to attach the C# - Heavy-Script in Unity to a prefab and generate that way multiple instances of the PD-patch which writes than specific voices in OnAudioFilterRead?

If I do so with just a simple Sine-Wave added to some different GameObjects, all with their own AudioSource attached to i

[2017-01-11 20:18] HerrGustav commented on #153
Ok, I found the problem in my Code for two different PD-Patches in a Scene. It works now.

But I'm still wondering if it's possible to instantiate one PD-Patch multiple times in a Scene and creating independent voices like that.

And also if it's possible to access the panning options of unity with a heavy-compiled Pd-Patch.

Thanks a lot in advance! :)

[2017-01-11 20:45] diplojocus commented on #153
hey @HerrGustav instantiating a heavy patch multiple times definitely works. I've done it many times including in prefabs.

You could create a custom script to control functionality of each instance.

[code]

Then in another custom script you can create a manager to instantiate multiple objects:

[code]

Then you can create new patchControllers and add them to your array.

(Note: this code is unte

[2017-01-12 21:58] HerrGustav commented on #153
@diplojocus thank you so much! I got it working finally!

[2017-01-13 11:10] diplojocus commented on #153
@HerrGustav great stuff! I'll keep this open in case it's useful for others

[2017-01-13 12:34] ylevtov commented on #144
Any chance that the mixed formats issues for signal rate objects could generate a warning?

[2017-01-13 12:45] ylevtov opened #154 "[tabread4~] does not support [set < message (but [tabread~] does)"
Example patch:
[https://enzienaudio.com/h/yuli/test/R09s3/](https://enzienaudio.com/h/yuli/test/R09s3/)

[2017-01-17 14:42] ylevtov opened #155 "List of Unity generators wrong in uploader.py"
Not sure about the others but for Unity, there shouldn't be a plain `unity-macos` one, right? (only `unity-macos-x86` and `unity-macos-x64`?)

Also in the usage message, there is a plain `unity` given as an example generator, which is also doesn't exist as a generator?

[2017-01-17 14:44] mhroth commented on #155
@ylevtov Thanks for this. `unity-macos-x86` and `unity-macos-x64` are definitely correct. There is no longer a simple `unity-macos`; we no longer generate universal binaries.

I'll double-check the documentation.

[2017-01-18 10:32] pingdynasty opened #156 "Uploader broken?"
We suddenly started getting error messages when compiling OWL patches:
`File "./Tools/Heavy/uploader.py", line 379, in upload
    print "{0}Error:{1} An HTTP error has occurred with URL {2}\n{3}".format(Colours.red, Colours.end, e.request.path_url, e)
AttributeError: 'HTTPError' object has no attribute 'request'`

Suspecting you might have update the uploader (are they versioned?) I grabbed the la

[2017-01-18 10:44] pingdynasty commented on #156
This is the command:
`python2.7 ./Tools/Heavy/uploader.py ./Build/Heavy -g c -n owl -o ./Build/Source -r r2016.07.05`

[2017-01-18 10:46] mhroth commented on #156
Try `-g c-src`?

[2017-01-18 10:56] pingdynasty commented on #156
`c-src` seems to work. Is that a permanent change?

[2017-01-18 10:59] mhroth commented on #156
Yes.

[2017-01-18 11:06] pingdynasty commented on #156
Ok thanks, your docs need updating: https://enzienaudio.com/docs/index.html#03.uploader

Any chance the uploader can be versioned along with the Heavy release?

[2017-01-18 12:07] diplojocus commented on #156
@pingdynasty that's a good idea

[2017-01-18 22:42] TobyMasonInstruments opened #157 "WWise FX plug-in on Master Audio Bus - not listed"
I've got a Wwise plug-in built that does show under effects on Actor-Mixer objects, but is not show as available in any Master-Mixer objects. How do I build an FX plug-in that will work on a Bus.

In the Wwise SDK I've found this note; maybe it has to do with the input and output buffers not matching:

Thanks !

[2017-01-19 03:22] TobyMasonInstruments opened #158 "Dynamic Table Size ?"
I have a seemingly simple vanilla PD patch that gives no errors upon uploading to Enzien, but the patch doesn't play back recorded audio properly in the Wwise plug-in.

https://enzienaudio.com/h/TobyAM/TapeMachine/

I've read things here able table resizing issues that I don't understand fully. Is table resizing my issue here?

I hope this kind of general call for help is ok. I'd love to get this

[2017-01-19 18:51] diplojocus commented on #157
Hey @TobyMasonInstruments we don't have support for Mixer plugins at the moment. I believe the FX plugins we generate can only go on Actor-Mixer objects like you pointed out.

[2017-01-19 19:07] diplojocus commented on #158
Just having a quick look through your patch, one thing I know isn't supported to sending messages to arrays/tables. Heavy only implements generic send/receive, i.e. sending to receiver of the same name. So you can't really send messages to objects like you're doing.

The following won't do what you expect:
[code]
It will just send a message say `resize 60` to a `[r array1]`.

Thinking about it, th

[2017-01-19 20:37] TobyAM commented on #158
I see, thanks for the info! I am actually trying to store an incoming stream, as I want to be able to sample and playback the affected audio with varispeed. Ever played Braid? I have a similar rewinding task.

So I removed the messaging to the tables (and table resizing altogether), and tried a set table size with an attribute, which still doesn't seem to work (compiled and no audio from table).

[2017-01-19 20:45] diplojocus commented on #158
Yeah I know what you mean!

Hmm, thinking about this more, it might be better to pre-allocate the table to your biggest size you ideally would need, that way you aren't constantly reallocating memory every time you record.

How are you triggering the recording stage? Are you sure it's correctly trigger the tabwrite~? I'll see if I can take a look tomorrow.

[2017-01-20 00:42] TobyAM commented on #158
Hey, that occur ed to me too, so I went for the largest table size I could think of before going into scientific notation (wasn't sure if that was causing an issue), so 999999 or about 20 seconds at 48K.

I've attached a screenshot of the patch for reference. The tabwrite~ is triggered like so

[r OnOff @hv_param 0 1 1]
|
[toggle]
|
[sel 1 0]
|
[s recording]

[r recording]
[tabwrite~ array1]

![ta

[2017-01-20 13:19] ylevtov opened #159 "Have platform build URL's without version number redirect to latest version of that patch"
E.g.
`https://enzienaudio.com/h/yuli/test/unity/src/archive.zip`
redirect to
`https://enzienaudio.com/h/yuli/test/[whatever the latest version currently is]/unity/src/archive.zip`

[2017-01-20 14:08] ylevtov opened #160 "Remove 's' for single amounts of weeks beneath patch title"
I.e. Created 1 week's' ago

[2017-01-29 23:30] HerrGustav commented on #106
Is the here mentioned "hv_line~"  a workaround for the [vline~] object?

I'm trying to get a simple ADSR - envelope generator running and my first solution with vline worked pretty good.
But since heavy doesn't support vline I tried to model something in the same direction using the [line~] - object.
Sadly there are audible clicks right now when I change the frequency of the connected synth/oscill

[2017-01-29 23:32] #160 closed

[2017-01-29 23:34] mhroth commented on #106
@HerrGustav You can use the `hv.vline` object available in the heavylib repository as a suitable replacement. https://github.com/enzienaudio/heavylib

[2017-01-30 13:44] pingdynasty opened #161 "error: prototype mismatch in C++ API"
I get this error compiling the C++ code, latest release:
[code]

This patch will fix it:
[code]

[2017-01-30 14:19] sinneb commented on #156
To fix the -y (only keep dynamic files) argument in uploader.py:

fix in line 315: "c-src"
and line 316: also keep project specific files with cpp and hpp extension

[2017-01-30 14:21] mhroth commented on #161
Fixed. Thank you!!

[2017-01-30 14:21] #161 closed

[2017-01-30 14:38] pingdynasty commented on #161
thanks @mroth, works!

[2017-01-30 20:11] HerrGustav commented on #106
@mhroth Thanks a lot!  That worked pretty flawless.
I didn't find these objects mentioned in the documentation.

[2017-02-04 19:37] woldhek commented on #59
@mhroth : the original issue is verified fixed in Nuendo.

[2017-02-05 09:40] woldhek commented on #37
This is still open right?

[2017-02-05 09:51] woldhek opened #162 "Receiving of midi input is shown as slider in javascript & vst output"
create a midi input reciever .
Compile it and notice that this midi reciever also gets a float slider in both the vst binary and webpreview.

[2017-02-05 10:18] woldhek opened #163 "the uploader cannot create a new patch"
It would save a me a few mouse clikcs if i didnt have to create a patch on the site before using the uploader.

[2017-02-05 10:21] woldhek commented on #162
this doesnt seem to be a 100% reproducable.

[2017-02-05 10:30] woldhek commented on #162
ah it seems that i've found it. IN the documentation there is an example patch. that shows a need to add the @hv_param markup. But in the other example it is simply just [r __hv_notein].

It seems that adding @hv_param is not necessary. for notein. Correct?

[2017-02-05 13:17] #155 closed

[2017-02-05 13:19] mhroth commented on #162
@woldhek You are correct. The `@hv_param` markup is only necessary if you want to "expose" the receiver. The receivers will always be there and will always be usable, but you might not want all of them to show up in your plugin interface. In general, you won't need to expose `__hv_notein`.

But you can use Pd's `notein` object to get the midi notes from the DAW. That is working.

[2017-02-08 13:49] giuliomoro opened #164 "uploader.py defaults to "c" generator, but this does not exist anymore"
line 398:
[code]

it should probably be `"c-src"`

[2017-02-08 15:26] pingdynasty opened #165 "Uploader fails with `not a zip file`"
The Python uploader suddenly fails with the error message
`Error: (<class 'zipfile.BadZipfile'>) File is not a zip file
Getting a weird error? Get the latest uploader at https://enzienaudio.com/static/uploader.py, or check for issues at https://github.com/enzienaudio/heavy/issues.`

I've updated to the latest uploader and get the same result.
My command line looks like this:
`python2.7 ./Tools/Hea

[2017-02-08 18:26] diplojocus commented on #165
Hey @pingdynasty looks like this is due to the terms of website use roll out we did and it accidentally affected the uploader script.

To resolve this you can log into the site and accept the terms. Should be ok from then.

Apologies for any inconvience!

[2017-02-08 18:27] pingdynasty commented on #165
Found the cause of this, thanks @diplojocus
Enzien have updated the terms of service, and when you log in you will be prompted to accept them. If you haven't it will cause the uploader to fail.
If anyone else is having this problem, try logging in to enzienaudio.com and accept the new terms.

[2017-02-08 18:52] diplojocus commented on #37
@woldhek I wasn't able to figure out what's different about it running in Chrome on Windows, doesn't seem to make sense to me. Do you still have this problem?

[2017-02-09 13:56] mhroth commented on #164
Fixed!

[2017-02-09 13:56] #164 closed

[2017-02-10 12:24] storey89 opened #166 "Unity > Heavy > PD >Heavy >Unity"
Hi, I'm working on my 1st software communication project between Unity & PD.
I found a tutorial on You Tube that I thought would be helpful. But the video is almost a year old and possibly dated. The video came with some sample code and how to get the code to function with unity.  How ever the code that was supplied has various errors. one or two I solved but the rest I've no idea.

The 1st proble

[2017-02-10 12:26] giuliomoro opened #167 "uploader.py 1) Error: User is not authorised to edit this patch."
In case it is useful to others, I fixed this by

- rm -rf ~/.heavy
- run the uploader.py, you will be prompted to go to https://enzienaudio.com/h/<username>/settings to create or copy a token
- go to the page, CREATE a new token (do not use the existing one, it did not work for me)
- paste that token into the terminal (you will not see it as you paste it), hit enter

[2017-02-10 12:35] mhroth commented on #167
Hi @giuliomoro, you're absolutely right about this. But I'm surprised that the existing "heavy" token on the setting page didn't work for you. Did you try this with your own token?

[2017-02-10 12:42] giuliomoro commented on #167
I did try to copy the existing token and that did not work.

I tried again and it works, so perhaps I did something wrong the first time around.
So basically the solution is simply
[code]
and then follow the instructions.

Another thing, though:
if you are not logged in on the enzien website then the page
`https://enzienaudio.com/h/<username>/settings` is going to show a redirect message to https:

[2017-02-10 13:43] mhroth commented on #166
They there @storey89. Have you looked at our [Unity documentation](https://enzienaudio.com/docs/index.html#06.unity) yet? It goes over how to create Unity plugins and hook them up to objects (for Audio Libraries).

[2017-02-10 13:47] mhroth commented on #167
Thanks for the suggestion @giuliomoro. You can also use the `--clear_token` flag, which will delete the existing token (and thus force a request for a new one).

[2017-02-10 14:50] giuliomoro commented on #167
good to know thanks

[2017-02-11 13:54] storey89 commented on #166
Hi, I have been looking through the documentation. To gain some knowledge of what the code does. However I've used the code from the heavy website and it returns an error to me.
I want to expose and send an event. However when I run the code supplied. It states that send event has "no extension method" with in my hv_example_audiolib.

I've searched through hv_example_audiolib to see if i could fin

[2017-02-12 14:48] storey89 commented on #166
Hi,
I think the problem I'm not understanding from the code for events & Parameters is
script.SendEvent
script.GetFloatParameter
script.SetFloatParameter

In each of these cases they return an error related to the .type (If this is the correct term)
Assets/Scripts/Pure_Data.cs(21,24): error CS1061: Type `Hv_final_01_AudioLib' does not contain a definition for `SendEvent' and no extension method `S

[2017-02-12 17:42] diplojocus commented on #166
Hi @storey89 to be to be clear are you exposing the parameters and events from within the Pd patch?

A Pd receiver object `[r param1 @hv_param 0 1 0.5]` will be exposed as a parameter in heavy, so you can use the Get/Set methods in the AudioLib.cs wrapper.

If you add `[r event1 @hv_event]` that receiver will be exposed as an event, and will be sent bang messages if you call `SendEvent`or click on

[2017-02-12 18:26] storey89 commented on #166
Hi diplojocus,
I have my pd patch set like this (see attached). I've used the code that your site has provided from the getting started and getting started with Unity pages.

If I just use the code from the heavy download. When press play in Unity I can hear the test sound I created in PD.
But when I try to expose the parameters or Events the code doesn't recognise the code form heavy.

[Final_.01

[2017-02-13 05:42] diplojocus commented on #166
@storey89 I looked at your project but I wasn't sure which patch you were testing with. The `_main.pd` in the top-level directory throws an error when you compiling it in heavy --> `Conflicting min/max/default values for 'freq' parameter`. There are two instances of the `[r freq @hv_param]` object, where you usually only need one.

[2017-02-13 08:30] storey89 commented on #166
Diplodocus, I've edited my PD patch so that there is only one event & freq receive object and uploaded it to my heavy folder. There doesn't seem to be any errors now.
However when I return to Unity I have the same problem with the script / wrapper.

 Also I'm wondering should I be able to see the effects from heavy in realtime within PD?

[Final_.01.zip](https://github.com/enzienaudio/heavy/files/

[2017-02-13 09:35] diplojocus commented on #166
Can you send me a link to your patch on the heavy site?

Are you sure you're replacing all the files you download from the site into your Unity project?

[2017-02-13 09:41] storey89 commented on #166
Here it is https://enzienaudio.com/h/storey89/final_01/

I've been working with the unity osx64 zip and that I've brought the bundle files from the zip folder into my plugins folder within Unity. along with the hv_example_auidolib file

[2017-02-13 22:00] jedsound opened #168 "Wwise Insert FX delay line never stops my event."
Hi,
In normal situations, Wwise automatically posts an "End Reached" notification whenever a sample has ended and then stops the event.

![wwise](https://cloud.githubusercontent.com/assets/19675579/22905158/0e7e14fe-f1f4-11e6-87b5-7b7e72549020.JPG)

In my patch, I use a short delay line that gets multiplied by 0 whenever the amplitude signal from the adc~ input is too low but the "End Reached" not

[2017-02-14 11:45] diplojocus commented on #136
Implemented in `r2017.01`

[2017-02-14 11:45] #136 closed

[2017-02-14 11:47] diplojocus commented on #168
Hey @jedsound I fixed this recently, will push it to the `dev` channel soon, and hopefully will be in the next release.

[2017-02-14 11:49] diplojocus commented on #150
@jayrope it's not really on the radar right now, but I can see why it would be useful.

[2017-02-14 11:52] diplojocus commented on #36
This probably isn't going to happen for while.

[2017-02-14 11:54] #126 closed

[2017-02-14 11:54] diplojocus commented on #135
@fr4nky8oy do you still get these errors?

[2017-02-14 11:57] diplojocus commented on #122
Just adding some additional info here, Wwise actually only supports a set width in the small plugin view, so I've hardcoded a maximum of 4 parameters to display here.

[2017-02-14 11:57] #122 closed

[2017-02-14 11:58] diplojocus commented on #159
Instead of

`https://enzienaudio.com/h/diplojocus/sine/2/unity/macos/x64/archive.zip`

You can now do something like

`https://enzienaudio.com/h/diplojocus/sine/latest/unity/macos/x64/archive.zip`

And it'll retrieve a target for the most recent patch version.

[2017-02-14 15:30] diemildefreude commented on #124
Aw man, I was still holding out for an answer. ;)

On 14 Feb 2017 20:57, "Joe White" <notifications@github.com> wrote:

[2017-02-14 15:33] diplojocus commented on #124
sorry @diemildefreude I (mistakenly) thought this got resolved. The error kinda evolved over time! Would you be able to create a new ticket with an example patch that describes the issue?

[2017-02-15 00:13] atellio opened #169 "how to track down "connects to out-of-range let" upload error"
I'm getting the following error message when trying to upload to the website:

"Connection [__inlet {index:1 type:--> name:}:0] --> [__graph.ZKfwN(_main.hv.json/Affirmations):1] connects to out-of-range let."

Does this give me any information on how to track down the connection to the "out of range let"?

Patch attached.

[Affirmations 0.1.zip](https://github.com/enzienaudio/heavy/files/775654/Af

[2017-02-15 11:07] mhroth commented on #169
Hi @atellio, the short answer to your question is that the error was caused by the fact that we did not support (until about 5 minutes ago) the right inlet to the `tabread4~` object. The error that you received generally indicates that an invalid (control, i.e. `-->`) connection is being made. I have pushed the fix to our `dev` channel, which you can access using our [uploader script](https://enzi

[2017-02-15 13:03] diplojocus commented on #163
This is implemented in the latest version of the uploader `r2017.02.15`

`$ pip install hv-uploader`

[2017-02-15 13:07] diplojocus commented on #152
Hi @jrdooley yeah that's not something that is possible currently.

The way to do that would be to use the uploader script to download the source code, and then create a post-download script to modify the implementation with your custom change and compile the code.

[2017-02-15 19:49] krighxz opened #170 "[inlet] -> [f $1] together with [loadbang] not producing expected behaviour"
Using loadbang to initialise an [f $1] object doesn't work when an inlet (with no incoming data) is also connected to [f].
[k.ramp.pd.txt](https://github.com/enzienaudio/heavy/files/778214/k.ramp.pd.txt)

[2017-02-15 20:00] storey89 commented on #166
I've re-uploaded the files again to heavy and downloaded the updated version of the mac OS X. I seems to have done the trick.
But I've another question. Every time I edit my PD patch. I will have to upload to heavy then download an updated version of the mac zip to be reimported to unity?

Thank you for your patience and help. Much appreciated.

[2017-02-15 20:42] diplojocus commented on #166
Yes, you'll also have to restart Unity as it won't release the dll/bundle file after it's launched. The Fabric target negates that issue currently.

[2017-02-16 00:05] jedsound commented on #168
How will I know when it's in the dev channel?

[2017-02-16 00:18] atellio commented on #169
Awesome, thanks @mhroth. Re: the offset parameter - do you mean the offset parameters via the right inlet specifically with `tabread4~` ? I was under the impression this worked with Heavy in other contexts.
In my case, could I get around this by having messages going to the left inlet of a `tabread4~` with the "set" command, followed by the name of whichever table I wanted played?

Also is there a

[2017-02-16 00:56] atellio commented on #169
Have attempted a little patch testing the above but am getting the error that I'm using unsupported objects. That doesn't seem to be the case, though? Any ideas?

[Test.zip](https://github.com/enzienaudio/heavy/files/778789/Test.zip)

[2017-02-16 02:17] mhroth commented on #169
@atellio The short answer to your issue is that our `[tabread4~]` requires a table to be defined at compile-time. So for instance if you say `[tabread4~ A3-0]` then it will be fine.

That said, `[tabread4~]` also has a currently known issue that it doesn't handle the `[set<` message correctly. This and other issues are listed [here](https://github.com/enzienaudio/heavy/issues/144), though we are i

[2017-02-16 02:30] mhroth commented on #170
@krighxz would you please describe what is the expected behavior in this patch? This patch looks like it's meant to be an abstraction fitting into something else, based on the dollar args. As it is, `[f $1]` outputs 0 after the loadbang, as expected.

[2017-02-16 03:41] atellio commented on #169
@mhroth ahh right, I see. All good, I think I should still be able to make the patch work, will just mean 20 or so custom subpatches instead of the one abstract patch with variable. Thanks for the info :-)

[2017-02-16 04:19] atellio commented on #169
@mhroth so I've given `[tabread4~]` defined tables and am not using the right inlet at all but am still getting the "Verify that you are only using supported objects" error. Any ideas? :-(
[Test2.zip](https://github.com/enzienaudio/heavy/files/779042/Test2.zip)

[2017-02-16 13:00] woldhek opened #171 "the web hub gives very large height values on the embed"
on the main patch page on the site, the embed code that is given as an example has too large default height values. for intance my 4 parameter latest one  is 724 pixes high (and i've had worse cases).

[2017-02-16 16:06] mhroth commented on #169
@atellio how are you uploading the patch? I did [this](https://enzienaudio.com/h/mhroth/atellio/) with the uploader. Also, I did notice that uploading the patch/zip through the web interface results in an error. But that's because the zip is too large! We support a maximum size of 1MB. Yours is 1.3MB.

I've made a note to improve the error message.

[2017-02-16 23:12] HerrGustav opened #172 "Heavy<->Unity: Destroying Objects while Runtime"
Hey,

I have some issues with Heavy it seems when I'm destroying Objects in Unity which have a Heavy-script attached to it. If I expose multiple Parameters and then try to destroy a Gameobject my Android-App will crash while running.

The Unity-Editor crashes nearly everytime I try it.

Is there a guideline how to do it?

Thanks a lot!

[2017-02-16 23:31] diplojocus commented on #172
How are you destroying the objects? Ideally you should just let the Garbage collector clean them up, it's important that the deconstructor is called to clean up the memory.

What crash do you get? Can you provide some example code to reproduce? Any crash logs/report? What platform? Unity version?

[2017-02-17 01:11] atellio commented on #169
@mhroth was using the web interface and that was it - the file size! will try with the main patch now. Thanks again for your help :-)

[2017-02-17 01:46] atellio commented on #169
success with the main patch! yes!

So in recap for anyone who comes across this:

1. `[tabread4~]` needs to have tables set at runtime, doesn't support the [set< message in the left inlet and doesn't support offset parameters
2. Keep file sizes smaller than 1meg

[2017-02-17 10:44] mhroth commented on #169
@atellio that's all correct at this time. It's probably worth mentioning as well that file sizes typically become that large when you are embeddeding audio data into the patch. Depending on your application, it might be easiest to simply read that audio data into the patch at runtime from some framework-defined samplebank (e.g. if you were using Unity or Wwise or something like that).

[2017-02-17 15:17] woldhek commented on #37
yeah still the same.

On Wed, Feb 8, 2017 at 7:52 PM, Joe White <notifications@github.com> wrote:

[2017-02-17 15:31] diplojocus commented on #37
@woldhek this was a silly one, can you try refreshing your page and see if you still have the same problem? 🤕

[2017-02-17 15:36] diplojocus commented on #37
@ntkeep very sorry about the 2 year wait on this :/

It's kinda like how you find your keys in the last place you look. And I can't really say it's due to analogue drift or anything...

Anyway fixed now so you can enjoy perfect pitched pipes everywhere!

[2017-02-17 15:37] #37 closed

[2017-02-18 05:11] atellio commented on #169
@mhroth yeah that's totally what was going on - I'm loading audio data into PD from Unity. Mistakenly bundled the audio files with the PD patch. Thanks again for the help :-)

[2017-02-19 14:41] mhroth commented on #169
@atellio This [project](https://github.com/ylevtov/Heavy-Unity-Sample-Loading) that [yuli](https://enzienaudio.com/h/yuli/) made may also give you some guidance for reading samples into heavy tables from Unity.

[2017-02-19 22:43] atellio commented on #169
@mhroth he's been helping me - such a legend

[2017-02-20 00:31] re-sounding commented on #37
No worries! There was nothing critical about it. Thanks for the fix!

[2017-02-20 10:13] diplojocus commented on #168
@jedsound it's in the dev channel now

[2017-02-20 20:44] HerrGustav commented on #172
sorry I did some further testing along the weekend. It seems that it isn't Heavy itself which is responsible for the crash. But in combination with the GoogleVR Audio SDK.
Both work pretty good on it's own. But since I introduced some more exposed Parameter in the Heavy - Plugins it crashes like I said. So I think it's an issue of memory usage, because when I'm restarting my Android device and sta

[2017-02-20 22:14] diplojocus commented on #172
It would be great if you could check your crash logs. Also it's possible to download the source code for the plugin and compile your own debug version, that will give the best indicator of what's happening when it crashes.

Can you provide a very simple project that reproduces the issue?

[2017-02-21 00:42] atellio opened #173 "Setting random seed via unity doesn't seem to work"
I have the following setup (with unity sending a random seed from between 0 and 9999):

`[r seedFromUnity @hv_param 0 9999 1]`
  |
`[seed $1<`
  |
`[Random 5]`

With a print object I've been able to confirm that the seed message is being set to a different value each time, but output from random is always the same sequence nevertheless.

Additionally, not 100% certain about this but it appears as

[2017-02-21 12:01] diplojocus commented on #170
@krighxz any news on this? I've never noticed this behaviour before and have used that idiom quite extensively.

[2017-02-21 12:05] mhroth commented on #169
@atellio FYI the "set" message to e.g. `tabread4~` is now supported in the `dev` channel.

[2017-02-21 13:28] mhroth commented on #173
Thanks @atellio, that's a bug on our side. I've update the `dev` channel with a fix for this.

[2017-02-21 13:28] #173 closed

[2017-02-21 20:01] jedsound commented on #168
You rock thanks!

[2017-02-21 20:54] diplojocus commented on #168
@jedsound let me know if that works for you!

[2017-02-21 21:35] jedsound commented on #168
It isn't. The event keeps playing long after the sample has finished.

[2017-02-21 21:46] HerrGustav commented on #172
Ok, I will check the crash logs first.

No at the moment not, sorry. But i'll check that too..

[2017-02-21 21:57] diplojocus commented on #168
can you send a link to your patch? I'll try and take a look

[2017-02-22 01:21] jedsound commented on #168
Sent to your email.

[2017-02-22 17:47] diplojocus commented on #147
@thefuntastic sorry for the delay I think we might have a fix for that, will keep you posted.

[2017-02-23 02:13] jedsound commented on #157
Is this on your backlog by any chance?

[2017-02-23 03:17] diplojocus commented on #157
hey @jedsound there aren't any immediate plans to support this

[2017-02-23 18:52] heni40 opened #174 "uploader token error"
Hello together,
with the old uploader Script everything worked fine when using the commandline promts under windows. But after switching machines and having to use the new hv_uploader script installed via pip I cant figure out a way to make it work.
No matter what I do I get this error:

The user token is invalid. Generate a new one at https://enzienaudio.com/h/<username>/settings/.
[91mError:[0

[2017-02-23 18:57] mhroth commented on #174
@heni40 in cases like this, are you _sure_ that you copied the full token correctly? Otherwise, try manually deleting the file at ~/.heavy/token.

[2017-02-23 19:02] heni40 commented on #174
yes, I'm sure I copied it in full and correctly. Deleting the toke file unfortunately just makes the script ask for a token again. After pasting the token I get the same error message.

[2017-02-23 19:14] mhroth commented on #174
Could you send us the token file to info@enzienaudio.com ? I'll take a look.

[2017-02-23 19:23] heni40 commented on #174
hm, it just worked... must have been the shortcut for pasting to the cmd promt.
Now I feel bad for making an issue out of that. I's always the same, fiddeling around for hours and researching on git hub... and after you post something it works.

One last thing. The --out command does not seem to work as expected.
Although using it just like in the Doc:

It only creates the files on the website. Wh

[2017-02-23 23:29] mhroth commented on #174
No worries at all :) We're here to help. You're not doing anything wrong, but you do need to tell the uploader what to download. For instance, if you want to download the C source files, pass the `-g c-src` flag.

You can get a complete list of files that you can download with `hv-uploader --help`.

[2017-02-24 12:48] diplojocus commented on #147
@thefuntastic if you get a chance would be able to test again with the latest `dev` release?

[2017-02-24 14:03] #170 closed

[2017-02-25 06:41] Bsangston opened #175 "Unity MacOS 64-bit Crash on Play"
I'm at a loss for this one. My patch, which compiles with zero errors on the heavy uploader, immediately crashes Unity upon hitting play. I have so far been unable to successfully get this to work. Before crashing as it does now, I was receiving an Expected: 0 == 2 error for the number of audio channels in OnFilterAudioRead(), but I'm unsure if this is related. All I did to fix between then and no

[2017-02-27 10:26] thefuntastic commented on #147
Leaving a reminder to myself to check this out

[2017-02-28 19:11] phembree commented on #112
Just came by to say that this problem is still happening (I haven't tried the Oculus spatializer yet).  FYI I met you Enzien folks at Sight Glass (GDC 2017).

[2017-03-01 11:18] storey89 opened #176 "External PD Libraries"
Hi,
I'm just wondering is there away to use an external PD library through heavy to unity, or would they considered incompatible.
I'm planning on working on an ambisonics patch and it seems I'll have to use various external to achieve success.

[2017-03-01 16:01] mhroth commented on #176
Unfortunately there is no way to run an existing Pd external through heavy. This feature is unlikely to be supported soon.

But in your case, there are existing ambisonics and spatial audio plugins for unity that you are probably better off using (from an integration perspective).

[2017-03-01 22:11] jedsound commented on #176
What about the rest of the objects from the vanilla distribution like fft~ and ifft~, that we can both find in the object list from the help menu?

[2017-03-03 04:33] ghost commented on #99
Hi. I am currently learing to use Pure Data patches with Unreal Engine via Wwise.

So, just like P1ger, I am trying to trigger my PD patch in Unreal Engine but it will not work. I can trigger it inside Wwise and it works fine.
I can also trigger the Wwise Synth One and change its parameters without problems inside Unreal Engine.

I guess it has something to do with using a PD patch in Unreal Engin

[2017-03-03 05:01] diemildefreude commented on #124
Hi @diplojocus ,
I'd love to, but github isn't letting me upload .zip files made with WinRar.... it used to, and I'm not sure what's changed. Otherwise, I can e-mail you directly.

[2017-03-03 15:40] tamasmarquetant opened #177 ""404 Not Found" returned on JS download attempts of recently compiled patches"
The requested js files do not seem to exist on the server under the provided URL.

The only other patch I have was compiled about 2 months ago and download behaves as expected, so this issue only appears to apply to the recently transpiled patches but irrespective of which download method I try:
- using the provided javascript <script src="..."> tag
- iframe embed
- or direct download from URL (cl

[2017-03-03 21:29] mhroth commented on #176
`fft~` and `ifft~` have been on our list for a long time. I can't say when we'll have them, but we are absolutely planning on supporting them.

[2017-03-03 21:58] mhroth commented on #177
@tamasmarquetant thanks for letting us know. That issue has been fixed. Try uploading the patch again.

[2017-03-05 09:28] diemildefreude opened #178 "Granular Synthesis"
So, a new summary of the problem with integrating my Granular Synthesis (GS) module:

Attached are :

- a 'testable' version which you can open in PD and hear. http://s000.tinyupload.com/?file_id=95918745385600857197
- a heavy-compatible version which you can't hear because the sample must be loaded through Unity. http://s000.tinyupload.com/?file_id=06457352623791187310

These two versions should

[2017-03-05 09:31] diemildefreude commented on #124
OK, I've made a new ticket: https://github.com/enzienaudio/heavy/issues/178

[2017-03-05 16:22] diemildefreude commented on #178
After posting this, I put an exposed send object under the wrap * buffer length, but I don't know how to access it to observe it while Playing in Unity.

http://i68.tinypic.com/24z9eud.png

I've tried adding the OnFloatMessage code (to the Sampler script) as demonstrated here : https://enzienaudio.com/docs/index.html#06.unity#exposing-and-sending-events

but nothing is printed in the console. What

[2017-03-06 15:39] marius4560 opened #179 "Pure Data in Unreal Engine with Wwise"
Hi. I am currently learing to use Pure Data patches with Unreal Engine via Wwise.

I am trying to trigger my PD patch in Unreal Engine but it will not work. I can trigger it inside Wwise and it works fine. I can access its parameters in Wwise.
I can also trigger the Wwise Synth One and change its parameters without problems inside Unreal Engine.

I guess it has something to do with using a PD patc

[2017-03-06 18:43] diplojocus commented on #179
Hi @marius4560 Heavy/Wwise integration into UE4 is supported, however dynamically loading pre-compiled libraries (i.e. from your patch page) isn't. Apparently Audiokinetic are adding this to their roadmap.

In the meantime, you can still use Heavy-made Wwise plugins but you have to manually compile the Wwise-UE4 integration yourself, and link your plugin code into it.

say you download the `Wwise

[2017-03-07 03:11] phembree commented on #112
Ok I've figured this out with vanilla Unity spatialization.  Basically I followed the instructions in this thread:
https://forum.unity3d.com/threads/onaudiofilterread-sound-spatialisation.362782/
or alternatively in this thread:
https://forum.unity3d.com/threads/onaudiofilterread-oafr-function-can-only-run-one-instance-in-unity.285041/

To do this with Pure Data / Heavy, basically just include an

[2017-03-08 11:29] atahoualpi opened #180 "biquad can't take both signal and control input"
biquad needs both a signal and the coeffs as input, but when uploaded to heavy it gives error of multiple incident connections of differing type

[2017-03-09 09:10] diplojocus commented on #178
hey @diemildefreude thanks for the info, regarding the exposed output parameter, instead you can always use a `[print]` which will display in the Unity console.

I'll take a look at your patch

[2017-03-09 10:20] diplojocus commented on #178
hey @diemildefreude do you have a simple unity project that reproduces this issue, will make it easier to debug.

[2017-03-09 10:25] diplojocus commented on #175
Hi @Bsangston would you be able to submit a simple test Unity project that reproduces the issue as well?

My first thought is it seems strange that you attach the same patch to your gameobject and then also feed into into a mixer plugin. Is that intentional?

[2017-03-09 10:27] diplojocus commented on #175
Nevermind! I got it to crash, i'll take a look further

[2017-03-09 10:33] diplojocus commented on #175
There's a stack overflow happening somehow, are there any areas where you're doing some kind of loop with messages?

[2017-03-09 10:55] diplojocus commented on #175
Ahh the Pd console is even telling you there's a stack overflow but it handles it a bit more gracefully than heavy right now.

You've basically got a loop like this when your patch initialises:
![screen shot 2017-03-09 at 10 52 51](https://cloud.githubusercontent.com/assets/594588/23747140/919984c0-04b6-11e7-85b3-cb6177e4951f.png)

Note the send and receive are named the same but they're connected

[2017-03-09 11:03] diplojocus commented on #154
This should be fixed now

[2017-03-09 12:31] diemildefreude commented on #178
Here you are, @diplojocus

http://s000.tinyupload.com/?file_id=72001966215525291360

And thanks for the [print] tip, I'll test it out!

[2017-03-09 12:37] diemildefreude commented on #178
I'm not sure what the standard protocol is for sending people projects, but I you just need to click on Scenes and open the only file there.

[2017-03-09 19:54] bsangston commented on #175
Thanks so much! Worked like a charm. Never thought it would be something so
simple

Brandon Sangston
Lead Audio Consultant
University of Virginia, Class of 2017
Sound Design for Film, Television, and Interactive Media (B.A.)
Cognitive Science with Concentration in Computer Science (B.A.)
(434)-661-7068 | brandonsangston.com

On Thu, Mar 9, 2017 at 5:55 AM, Joe White <notifications@github.com> wrot

[2017-03-09 23:37] #175 closed

[2017-03-10 18:16] jedsound opened #181 "Output parameters don't react to voice hierarchy"
When you put a simple envelope follower effect on a sound and you turn its fader or the make-up gain all the way down, or you simply mute it, or you change the LP or HP filters to the point where you can't hear the sample anymore, the envelope output parameter keeps sending the same data like nothing has changed.

It seems like the output parameters don't following the same Wwise voice hierarchy a

[2017-03-11 15:28] diplojocus commented on #181
@jedsound Do you have multiple voices for the same sfx object in Wwise? In this case it's likely that because each voice is setting the same global RTPC you'll probably see the value for the last voice being processed.

In addition, the make-up gain is in your patch? Or do you mean the volume fader in the Wwise object? I would assume that it's post plugin processing so the patch itself will still

[2017-03-11 15:29] diplojocus commented on #172
Hey @HerrGustav did you manage to check your logs?

[2017-03-11 15:46] diplojocus commented on #180
hi @atahoualpi this should be fixed now in `r2017.02` thanks!

[2017-03-12 13:52] diemildefreude commented on #178
I added the print objects in [grain-stream] at the [r $1-buf] and the [int] below it. The initial values for the buffer size are correct. The output of [int] stays longer at 0 than in the testable PD version, but it does get going eventually... no sound though.

[2017-03-12 14:07] dizzybanjo opened #182 "VST2 macOS 64bit target outputs a folder called patch.vst not a .vst file"

[2017-03-13 10:57] atahoualpi commented on #180
Hi @diplojocus,
thanks for fixing it, but although I am able to upload the patch to heavy, I can't get any sound when importing it to Unity. And it also makes Unity crash

[2017-03-13 11:03] diplojocus commented on #180
Can you send a link to your patch?

[2017-03-13 11:04] atahoualpi commented on #180
https://enzienaudio.com/h/vildahallon/biquad/

[2017-03-13 11:40] diplojocus commented on #180
Also which platform and version of Unity are you running? Are there any crash logs you can provide?

[2017-03-13 11:54] atahoualpi commented on #180
I'm running Unity 5.5.1 Personal on Windows 10. Actually crash log says that crash was caused from another patch (glass_modes) and not from the one with the biquad filter (biquad). But when removing the biquad patch from the project there is no crash.

[error.txt](https://github.com/enzienaudio/heavy/files/838070/error.txt)

[2017-03-13 12:04] diplojocus commented on #180
hey @atahoualpi thanks for the info, I just created a new project in Unity 5.5.1f1 on Windows 10 and added your biquad patch. I don't get the crash you're referring to, i would suspect it's actually the glass_modes one that's the problem.

However, I don't get sound out of your patch which is a separate issue probably. :/

[2017-03-13 12:36] atahoualpi commented on #180
I tested it out a bit and I found out that I get a crash when trying to send an event to a bang at the patch with the biquad. (also removed the glass_modes). I used this code:
`if(Input.GetKey("b")){
            HeavyScript.SendEvent(Hv_biquad_AudioLib.Event.Play);}`

[2017-03-13 12:38] diplojocus commented on #180
Ah it's when you send quite a few bangs in right?

[2017-03-13 12:43] atahoualpi commented on #180
even with only one

[2017-03-13 12:55] diplojocus commented on #180
Ok so I was testing with the Inspector `play` button on your audiolib script that gets exposed when you add the `hv_event`.

With your script by using Input.GetKey() even if you press the 'b' button once it will still likely trigger the event many times (unless you're superman and can pull the key back up within the frame 🌞 )

[2017-03-13 12:59] atahoualpi commented on #180
yeah you're right

[2017-03-13 13:19] diplojocus commented on #180
It looks like you found a few different bugs, so I'll have to investigate these further! Sorry about any inconvience.

[2017-03-13 13:22] diplojocus commented on #180
In the meantime if you're making your own filters, it might be worth checking out the implementations in heavylib https://github.com/enzienaudio/heavylib

For example you can do something like `[hv.filter lowpassq]` and set the freq/q dynamically from your material types.

[2017-03-13 13:30] atahoualpi commented on #180
cool I'll check them out thanx!!

[2017-03-13 22:16] diplojocus commented on #180
hey @atahoualpi I looked more into your patch. On the first time you set the biquad coefficients to `1 0 0 0 0` which causes the filter to go unstable and probably at some point the OS will mute the audio or something equally bad will happen.

Pd `[biquad~]` does a lot of coefficient checking to make sure the filter stays stable. But for performance reasons we don't do that and assume the input is

[2017-03-13 22:23] diplojocus commented on #180
I would also strongly suggest to reduce the complexity of your coefficient calculations and it can hurt performance every time you're triggering a sound.

For example, currently the values are hardcoded, do they need to be updated every time you trigger the sound?

Could you store them initially and put the envelope outside of the biquad abstraction? Therefore all the trigger would be controlling

[2017-03-14 08:32] atahoualpi commented on #180
OK yes I see what you mean. The patch is just a prototype and it needs fixing. Thank you for your guidance. I'll also try using signal objects I didn't know it made such a difference 😀

[2017-03-16 09:57] mhroth commented on #182
Unfortunately I can't reproduce this. Could you give specific instructions?

[2017-03-21 13:21] atahoualpi opened #183 "how to set list parameters (instead of just floats)"
Hi,
I'm using Heavy in Unity. I would like to send a list of floats using the SetFloatParameter() function. I created a SetListParameter() function which is identical to SetFloatParameter, though it takes a List<float> as an argument and then I call the function:

`public void SendListToReceiver(uint receiverHash, List<float> x)
 {
     hv_sendListToReceiver(_context, receiverHash, x);
 }`

which

[2017-03-21 17:25] wimachtendink commented on #112
Hello, all.

I was having a lot of trouble getting spatialization to work with a project I'm working on.

I had no trouble with a simple heavy script which was added to a prefab then instantiated, but if I tried to add the heavy script as a component, I just got a mono signal.

Perhaps this is just standard Unity procedure, but I found that if I add the heavy script component on Awake() rather tha

[2017-03-21 17:42] diplojocus commented on #112
thanks @phembree and @wimachtendink your input!

@phembree that's an interesting solution, but still seems to be a hack around the fact that this is a bug in Unity :/ But if it works right now go for it!

[2017-03-22 06:24] Bsangston opened #184 "Makenote Substitute?"
Does anyone have a good makenote substitute/workaround? I've implemented my own versions of this that act perfectly fine within Pure Data, but don't function correctly inside Heavy's compiled version (I'm specifically using the Unity plugin/C# script).

It seems to be running into a lot of problems with note off messages not being sent, as well as occasional major audio meltdowns involving screech

[2017-03-22 09:52] dbaxaudio commented on #184
I've let Unity run for about an hour triggering a sampler with this custom make note setup ->

#N canvas 0 22 646 456 10;
#X msg 512 249 1;
#X msg 294 147 0;
#X obj 185 88 inlet;
#X obj 512 323 outlet;
#X obj 403 323 outlet;
#X obj 185 118 t f b f b, f 55;
#X obj 294 169 f;
#X obj 512 271 f;
#X obj 294 194 pipe 0 700, f 13;
#X obj 185 196 pipe 0 700, f 13;
#X connect 0 0 7 0;
#X connect 1 0 6 0;
#

[2017-03-22 13:11] diplojocus commented on #182
Was an error on @dizzybanjo 's system :)

[2017-03-22 13:11] #182 closed

[2017-03-22 13:24] diplojocus commented on #184
thanks for the inspiration @dbaxaudio

@Bsangston I've pushed an implementation of `[makenote]` to the `dev` release in heavy. If you could try it out and let me know if you run into any issues.

See here for more information on specifying a build with the `dev` release https://enzienaudio.com/docs/index.html#03.uploader

[2017-03-23 23:06] P1ger commented on #179
Hi @marius4560  and anyone else, I just wrote a tutorial on how to run pd patches converted in Wwise plug-ins inside UE4. Is meant to be understood by anyone, programmers or not.
http://igordallavanzi.wixsite.com/gamenoise/single-post/2017/03/23/Pure-Data-patches-in-Unreal-Engine-4-via-Wwise

[2017-03-24 00:47] diplojocus commented on #179
@P1ger you get a massive gold star! 🌟

[2017-03-24 14:38] diemildefreude commented on #178
Hey, any news on this? Let me know if the problem is still not clear.

[2017-03-26 11:01] diemildefreude opened #185 "problem with [pipe]"
Not sure if this has come up before. Sorry, if so:

Got this issue in my latest upload. The pipe has, in all three cases, two arguments, e.g. "f 200".

[2017-03-26 11:02] mhroth commented on #185
What does the "f" argument do? Pipe only takes a numeric delay argument, no?

[2017-03-26 13:47] diemildefreude commented on #185
f stands for float. If you look at the help file for pipe, it shows that you can put other arguments before the last argument to specify the type(s) of values being passed through (and also to pass through multiple values).

But if that's the problem, I can remove the f, as I'm only passing through one value anyway.

[2017-03-26 13:50] mhroth commented on #185
🤔 is this in Vanilla too? Our pipe will pass through arbitrary messages. Just pass the numeric delay argument.

[2017-03-26 14:16] diemildefreude commented on #185
Yeah, I'm using Vanilla. But yeah, that was the problem, thanks.

[2017-03-27 09:32] diemildefreude commented on #121
I'm having a similar issue. I I use (float)_clip.samples; to get the audio clip's amount of samples, Unity gives the samples in the rate of 44,100 Hz, but when I press play the resulting printed values and sound indicate a samplerate of 48,000 Hz. The op mentioned "hv_table_resize", but what is that? I don't see it on the list of Heavy-compatible abstractions: https://github.com/enzienaudio/heavyl

[2017-03-27 09:34] MR-T77 opened #186 "Can't upload patch but all Pd objects are supported"
Hi!

I can't upload a Pd Patch (roughly 160 MB), I get the "We failed to process the uploaded patch. Verify that you are only using supported objects, who you can see listed on the PD Objects page.", although every used object is supported.
Is there a size limit?

[2017-03-27 09:35] mhroth commented on #186
The maximum patch size that we allow is 1MB.

[2017-03-27 09:36] mhroth commented on #186
Is your patch that large because you are packing samples into it? In that case I'd suggest loading the samples into it during runtime from whatever framework that you're using, e.g. Unity.

[2017-03-27 09:42] asapsmc commented on #186
Thanks very much for the very fast answer.
Yes, I'm packing samples into it.
(sorry about this question, but I'm really new to this but have to deploy this very fast): could you please me direct me to some link (if there is) on how to do that?

[2017-03-27 09:44] mhroth commented on #186
A user made this demo for loading samples into heavy tables from Unity. Is that what you're looking for? https://github.com/ylevtov/Heavy-Unity-Sample-Loading

We also have this documentation about accessing tables from Unity: https://enzienaudio.com/docs/index.html#06.unity#accessing-audio-tables

[2017-03-27 09:48] asapsmc commented on #186
I believe this is it! (have to test it, but can't do it right now)
Thank y very much!
I'll give feedback

[2017-03-27 09:50] mhroth commented on #186
The general rule of thumb that I like to recommend is to do all of your signal processing and light logic in Pd/heavy. Do all of your complicated logic and sample management in the game engine or middleware.

[2017-03-27 10:05] diplojocus commented on #121
@diemildefreude would you mind making a separate issue for this?

[2017-03-27 10:18] diemildefreude opened #187 "Samplerate discrepancy"
I'm having a similar issue to this one: https://github.com/enzienaudio/heavy/issues/121

I I use (float)_clip.samples; to get the audio clip's amount of samples, Unity gives the samples in the rate of 44,100 Hz, but when I press play the resulting printed values and sound indicate a samplerate of 48,000 Hz. The op of the linked thread mentioned "hv_table_resize", but what is that? I don't see it o

[2017-03-27 10:18] diemildefreude commented on #121
@diplojocus Not at all.

[2017-03-27 10:27] diplojocus commented on #187
thanks @diemildefreude

I think Unity's default samplerate is 48kHz, and from sounds of it your audio files are 44.1kHz.

No resampling is performed when loading audio clips into the heavy patches so it makes sense that you'll get this output.

I'd recommend either exporting your audio files out to 48kHz or setting your Unity project's `System Sample rate` to 44.1kHz.

[2017-03-27 10:39] diplojocus commented on #178
hi @diemildefreude with patch provided, honestly it's hard to even just understand what the issue is, and where it might arise from, let alone even thinking of a solution to fix it.

If you suspect a particular area of your patch to be an issue, then what's helpful on my side is that you can distill it down to just those parts. The simpler the patch to describe the issue the better!

Another helpf

[2017-03-27 10:41] diemildefreude commented on #187
Ah, that was an easy fix. Thanks @diplojocus

[2017-03-27 10:45] diplojocus commented on #187
Nice!

[2017-03-27 11:21] diemildefreude opened #188 "Reloading a sample simply"
This time-freeze abstraction I'm trying to import requires a shortening of the sample via this [resize( construction pictured below. In PD, I play the file into the [tabwrite~] using [readsf~] at the same time as I input the array size and execute the [resize( command. This is probably not the best way to do it, but it does afford me the flexibility of trying different array sizes with the same sa

[2017-03-27 11:28] diplojocus commented on #188
Hi @diemildefreude hate to break it to you but for starters this will never work in heavy because `[readsf~]` isn't supported and you can't send a `[resize $1(` message to a table. That Pd feature isn't implemented.

I don't know if I understand the eventual goal fully but it's worthing noting that when loading an audio clip from Unity into heavy, the table will be resized accordingly.

Also you c

[2017-03-27 11:34] diemildefreude commented on #188
@diplojocus Ah, good thing you told me about [resize( . So you mean load the whole file into the array and then use the shortened length to only read it upto a certain point, right?

[2017-03-27 11:35] diplojocus commented on #188
Sure that also works :)

[2017-03-27 11:51] diemildefreude commented on #188
So to do that, I should divide the max array size by the desired array size and then multiply the output of [phasor~] by that, right? I didn't make this patch though, so I'm not really sure.

![zerozeroload2](https://cloud.githubusercontent.com/assets/16056630/24354955/f5693b04-132e-11e7-8508-bc1515a5cef8.png)

[2017-03-27 12:02] diplojocus commented on #188
Is it important to calculate zero crossings? Can you apply some kind of window to your grains (I'm guessing you're doing some kind of grain-based table reading).

[2017-03-27 12:06] diemildefreude commented on #188
Finding the zero-crossings helps to make reading smooth for the time-stretch. The person who made it wrote:

"it will write any incoming sound to an array of a given size, then search for the first and the last zerocrossing and playback this section. so its basically wavestealing, freezing..
the size of the array to record to would be around 200-500 samps for 2 - 3 periods normal pitch sound at 44

[2017-03-27 12:08] diplojocus commented on #188
Where did you get the patch from? Is there an explanation to algorithm with it?

[2017-03-27 12:11] diemildefreude commented on #188
by going around the internet and begging people for help, like I do with you: http://forum.pdpatchrepo.info/topic/9909/time-stretching-patches-any-recommendations/11

I'll ask him about it though. In the meantime, I guess I'll opt for option 2)

[2017-03-27 12:12] diplojocus commented on #188
I can understand why you'll want to detect zero-crossings, but as heavy only supports a subset of Pd's functionality you do have to be careful with the approach you take. Some techniques might work in pd but not in heavy for example.

[2017-03-27 12:17] diemildefreude commented on #188
Yes, I imagine that's the source of my other issue, though I'm not sure if I've pinpointed the problem there: https://github.com/enzienaudio/heavy/issues/178

Heavy is really like learning a new language, since you end up solving things so differently than you would in PD. If you know any heavy-compatible time-stretching abstractions, I'd be happy to try them out. x) In the meantime, I'll try prec